@functions{
    public string Mode { get { return Context.Request.GetParam("Mode"); } }

}
@{
    B_User buser = new B_User(Context);
    M_AdminInfo adminMod = B_Admin.GetLogin(Context);
    M_UserInfo mu = buser.GetLogin();

}
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_layout_assets")
    <link href="/Template/Gteam/style/global.css?Version=@(SiteConfig.SiteInfo.SiteVersion)" rel="stylesheet" />
    <style type="text/css">
        .Conent_fix { position: fixed; left: 0; bottom: 0; width: 100%; padding:1rem; z-index: 1000; background: #fff; border: 1px solid #ddd; text-align: center; background: rgba(255, 255, 255, 0.88); }
    </style>
    @RenderSection("head")
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow fixed-top ptop">
        <div class="me-md-auto ptopLogo">
            <a href="/"><img src="@Call.LogoUrl" alt="@Call.SiteName" /></a>年检系统
            @*<div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    切换组织类型
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="@Call.Label(Context,"{ZL:GetNodeListUrl(2)/}")">社团组织</a>
                    <a class="dropdown-item" href="@Call.Label(Context,"{ZL:GetLastinfo(2)/}")">非公企业</a>
                    <a class="dropdown-item" href="@Call.Label(Context,"{ZL:GetNodeLinkUrl(2)/}")">基金会</a>
                </div>
            </div>*@
        </div>
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 text-dark" href="/">网站首页</a>
            <a class="p-2 text-dark" href="/user/">平台公告</a>
            <a class="p-2 text-dark" href="/user/">会员中心</a>
            <a class="p-2 text-dark" href="/user/">帐号管理</a>
        </nav>
       <a class="btn btn-outline-primary" href="/User/user/Logout">退出系统</a>

    </div>
    <div style="height:100px;"></div>
    @RenderSection("content")

    @RenderSection("script")
    <div style="height:80px;"></div>
</body>
</html>