@using ZoomLa.Components
@using ZoomLaCMS.Resources
@{
    int statusCode = ViewBag.statusCode;
    string title = L.错误提示;
    if (statusCode == 404)
    {
        title = "页面不存在";
        switch (SiteConfig.SiteOption.Safe_ErrorShow)
        {
            case 1:
                Context.Response.Redirect("/Default");
                break;
            case 2:
                Context.Response.Redirect(SiteConfig.SiteOption.Safe_ErrorShow_Url);
                break;
            default:
                break;
        }
    }
    else if (statusCode >= 500)
    {
        title = L.服务器内部错误;
    }
}
        @section head{<title>@title</title>}
        @section content{
<link href="~/theme/css/V4user.css" rel="stylesheet" />
<div class="StatusCode">
  @Html.Partial("_leftmenu")
<div class="container">
<div class="col-sm-6 offset-sm-3">	
<div class="card" style="">
<div class="card-header d-flex"><i class="zi zi_bulbLine"></i>&nbsp;@(title)(@statusCode)
<div class="StatusCode_jump">
  <a href="#"  class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@L.快速导航</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/">@L.返回首页</a>
    <a class="dropdown-item" href="/help.html">@L.快速帮助</a>
    <a class="dropdown-item" href="http://www.z01.com/Search/Searchlist" target="_blank">@L.在线检索</a>
  </div>
</div>
	</div>
    <div class="card-body">
	未能正确获取服务，造成此现象的原因可能是：
	<ol>
	<li>请求的URL已经失效或变更；</li>
	<li>客户端凭据或权限访问失效；</li>
	<li>服务端未部署相应功能或服务；</li>
	<li>其它机制触发的应用信息规避。</li>
	</ol>
    </div>
</div>
</div>
</div>	
</div>
}
@section script{

}