@using ZoomLaCMS.Resources;
@model C_SelProduct
<div id="product_app" style="margin-top:5px;">
    <div style="margin-bottom:5px;"><input type="button" class="btn btn-outline-info" value="@L.关联商品" v-on:click="selProduct()" /></div>
    <table class="table table-striped table-bordered" style="margin:10px auto;">
        <tr>
            <td>ID</td>
            <td>@L.商品图片</td>
            <td>@L.商品名称</td>
            <td>@L.零售价</td>
            <td>@L.数量</td>
            <td>@L.操作</td>
        </tr>
        <tr class="pro_item" v-for="item in list">
            <td>{{item.ID}}</td>
            <td><img onerror="shownopic(this);" style="width:60px;height:45px;" :src="item.Thumbnails" /></td>
            <td>{{item.Proname}}</td>
            <td><input type="text" v-model="item.LinPrice" /></td>
            <td><input type="text" v-model="item.Pronum" /></td>
            <td><input type="button" value="移除" v-on:click="del(item);" class="btn btn-danger btn-sm" /></td>
        </tr>
    </table>
    <textarea ID="pro_hid" name="pro_hid" style="display:none;">{{toValue()}}</textarea>
</div>
<script src="/dist/vue/vue.js"></script>
<script>
var productApp = new Vue({
el: "#product_app",
created: function () {
    @*this.list=@Html.Raw(JsonConvert.SerializeObject(itemDT));*@
    //[{"ID":63,"Proname":"sfsfsfsfsf","Thumbnails":"/uploadfiles/nopic.svg","LinPrice":3,"Pronum":1}]
    var value = '@Html.Raw(Model.value)';
    if (value && value.startsWith('[')) { this.list = JSON.parse(value); }
},
data: {
list:[],
},
methods: {
addRange: function (result) {
    //有重复的则忽略,否则调用方法完成添加
    var ref = this;
    var sIndex = ref.list.length;
    for (var i = 0; i < result.length; i++) {
        if (!ref.get(result[i].ID)) {
            result[i].Pronum = 1;
            ref.list.push(result[i]);
        }
    }
},
get: function (id) {
    var ref = this;
    for (var i = 0; i < ref.list.length; i++) {
        if (ref.list[i].ID == id) { return ref.list[i]; }
    }
    return null;
},
del: function (item) {
    var ref = this;
    if(ref.list.length<=1){return;}
    for (var i = 0; i < ref.list.length; i++) {
        if (ref.list[i] == item) {ref.list.splice(i, 1); return; }
    }
},
selProduct: function () {
    var ref = this;
    ShowComDiag('/Common/SelProduct?@Html.Raw(Model.ToQuery())', '');
},
toValue: function () {
    return JSON.stringify(this.list);
}
}
});
function product_cb(result) {
productApp.addRange(result);
CloseComDiag();
}
</script>