@model ZoomLa.SQLDAL.SQL.PageSetting

<table class="table table-bordered table-striped" id="EGV">
    <thead>
        <tr>
            <th class="td_xs"></th>
            <th class="td_s">ID</th>
            <th class="td_s">@L.图标</th>
            <th>@L.名称</th>
            <th class="td_m">@L.积分</th>
            <th class="td_m">@L.接单限制</th>
            <th class="td_m">@L.垫付金额</th>
            <th class="td_l">@L.操作</th>
        </tr>
    </thead>
    @foreach (DataRow dr in Model.dt.Rows)
    {
        <tr>
            <td><input type="checkbox" value="@dr["ID"]" name="idchk"/></td>
            <td>@dr["ID"]</td>
            <td><img src="@(ZoomLa.Common.function.GetImgUrl(dr["Image"]))" style="width:50px;"/></td>
            <td>@dr["Alias"]</td>
            <td>@dr["PointRate"]</td>
            <td>@(dr["Addon1"]+"--"+dr["Addon2"])</td>
            <td>@(dr["Addon3"]+"--"+dr["Addon4"])</td>
            <td>
                <a class="btn btn-info btn-sm" href="PointGroupAdd?ID=@dr["ID"]"><i class="zi zi_pencilalt" title="修改"></i></a>
                <a class="btn btn-danger btn-sm" style="color:#fff;" onclick="mvcpage.del({url:'PointGroup_API?action=del',ids:'@dr["ID"]',confirm:'@L.确认删除'});"><i class="zi zi_trashalt"></i></a>
            </td>
        </tr>
    }
    @Html.Partial("_page")
</table>