@section head{<title>图表引用</title>
<style type="text/css">
.window {background-color: rgba(0, 0, 0, 0.5);position: fixed;display: none;border: 1px solid #E0DFDF;}
.add_title {color: #FFFFFF;}
.mask {position: absolute;display: none;}
.add_title {width: 95px;height: 42px;line-height: 40px;float: left;text-align: center;border-radius: 5%;cursor: pointer;   }
</style>
}
@model ZoomLa.Model.M_Content_Chart;
@section content{

    @Call.SetBread(new Bread[] {
    new Bread("/{manage}/Main","工作台"),
    new Bread("Default","智慧图表"),
    new Bread() {url="ChartCite?ID="+Model.ID, text="图表引用",addon="" }}
    )
<div class="card">
<div class="card-body row table-responsive-md">
<table class="table table-bordered table-hover table-striped sys_table">
    <tr><th scope="col" class="w12rem_lg">图表名</th><td scope="col"><span ID="TName_L">@Model.TName</span></td></tr>
    <tr><th scope="col">类型</th><td scope="col"><span ID="SType_L">@Model.GetTypeStr()</span></td></tr>
    <tr>
        <th scope="col">引用</th>
        <td scope="col" style="position:relative;">
            <textarea name="Cite_T" rows="2" cols="20" id="Cite_T" class="form-control" style="height:100px;width:400px;">@ViewBag.Cite_T</textarea>
            <a id="copycode" href="javascript:;" class="btn btn-outline-info btn-sm mt-1" onclick="copycode('Cite_T')">复制代码</a>
        </td>
    </tr>
    <tr>
        <th scope="col">Markdown引用</th>
        <td scope="col" style="position:relative;">
            <textarea name="Cite_bb" rows="2" cols="20" id="Cite_bb" class="form-control">@ViewBag.Cite_bb</textarea>
            <div>
                <a id="copycode" href="javascript:;" class="btn btn-outline-info btn-sm mt-1" onclick="copycode('Cite_bb')">复制代码</a>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><a href="Default" class="btn btn-info">返回列表</a></td>
    </tr>
</table>
<div class="alert alert-info w-100">点击获取代码按钮，粘贴到您想引用的html代码里</div>
</div>
</div>
<div class="mask"></div>
<div class="window" id="center">
<div class="border_add_nav">
<span class="add_title"></span>
</div>
</div>
}
@section script{
<script src="~/Plugins/Third/excel/handsontable.full.js"></script>
<script src="/Plugins/Third/ystep/js/ystep.js"></script>
<script>
//获取窗口的高度
var windowHeight;
//获取窗口的宽度
var windowWidth;
//获取弹窗的宽度
var popWidth;
//获取弹窗高度
var popHeight;

function init() {
    windowHeight = $(window).height();
    windowWidth = $(window).width();
    popHeight = $(".window").height();
    popWidth = $(".window").width();
}
//关闭窗口的方法
function closeWindow() {
    $(".close_btn").click(function () {
        $('.window').hide("slow");
        $('.mask').css('display', 'none');
    });
}
//定义弹出居中窗口的方法
function popCenterWindow() {
    init();
    //计算弹出窗口的左上角X的偏移量
    var popX = (windowWidth - popWidth) / 2;
    // 计算弹出窗口的左上角Y的偏移量为窗口的高度 - 弹窗高度 / 2 + 被卷去的页面的top
    var popY = (windowHeight - popHeight) / 3 + $(document).scrollTop();
    //设定窗口的位置
    $("#center").css("top", popY).css("left", popX).slideToggle("fast");
    closeWindow();
    }
var isshow = false;
function copycode(id) {
var Url2 = document.getElementById(('' + id + ''));
Url2.select(); // 选择对象
if (document.execCommand("Copy")) {
if (isshow == false) {
    $('.add_title').text("复制成功！");
    $('.mask').css('display', 'block');
    $('.mask').css('width', $(window).width())
    $('.mask').css('height', $(document).height())
    popCenterWindow();
    isshow = true;
    setTimeout(function () {
        $('.window').hide();
        isshow = false;
    }, 5000);
    }
} else {
    $('.add_title').text("复制失败！");
    $('.mask').css('display', 'block');
    $('.mask').css('width', $(window).width())
    $('.mask').css('height', $(document).height())
    popCenterWindow();
    setTimeout(function () {
        $('.window').hide();
    }, 5000);
}
}
</script>
}



