@model ZoomLa.Model.User.M_Structure
@{
    B_User buser = new B_User(Context);
    int structId = DataConverter.CLng(Context.Request.GetParam("id"));
    string apiUrl = "Struct_API?sid=" + structId + "&action=";
    DataTable dt = buser.SelectUserByIds(Model.UserIDS);
}
@section head{<title>部门成员列表</title> }
@section content{
    @Call.SetBread(new Bread[] {
    new Bread("{admin}"),
    new Bread("StructList","组织结构"),
    new Bread(Context.Request.RawUrl(),"组织成员")
    })
    <div class="input-group">
        <input type="text" class="form-control" id="skey" placeholder="请输入用户名" />
        <input type="button" value="搜索" class="btn btn-info" onclick="mvcpage.load();" />
        <input type="button" value="增加成员" class="btn btn-info" onclick="showdiv('div_share',1);" />
    </div>
    @*<asp:Button runat="server" ID="Sure_Btn" OnClick="Sure_Btn_Click" style="display:none;" />*@
    <table class="table-striped table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>UserID</th>
                <th>用户名</th>
                <th>真实名称</th>
                <th>邮箱</th>
                <th>工号</th>
                <th>操作</th>
            </tr>
        </thead>

        @foreach (DataRow dr in dt.Rows)
        {
            <tr>
                <td><input type="checkbox" name="idchk" value="@dr["UserID"]" /></td>
                <td>@dr["UserID"]</td>
                <td><a href="../User/UserInfo?id=@dr["UserID"]">@dr["UserName"]</a></td>
                <td>@dr["TrueName"]</td>
                <td>@dr["Email"]</td>
                <td>@dr["WorkNum"]</td>
                <td>
                    <a href="javascript:;" onclick="mvcpage.del({ url:'@(apiUrl+"member_del")',ids:'@dr["ID"]',confirm:'确定要将该用户移出组织吗'})">移除</a>
                </td>
            </tr>
        }
    </table>
    <div style="margin-top:5px;">
        <button type="button" class="btn btn-outline-info" onclick="mvcpage.bat({url:'@(apiUrl+"member_del")',confirm:'确定要移除吗'});">批量移除</button>
        <button type="button" ID="SetM_Btn" class="btn btn-outline-info" onclick="mvcpage.bat({url:'@(apiUrl+"member_setm")'})">设为管理员</button>
        <button type="button" ID="UnSetM_Btn" class="btn btn-outline-info" onclick="mvcpage.bat({url:'@(apiUrl+"member_unsetm")'})">取消管理员</button>
    </div>

}
@section script{
    <script src="/JS/SelectCheckBox.js"></script>
    <script type="text/javascript">
        var diag = new ZL_Dialog();
        function showdiv(div_id, n) {
            diag.title = "选择成员";
            diag.url = "/Common/Dialog/SelGroup.aspx?Type=AllInfo&Fid=@Model.UserIDS";
            // /Common/Dialog/SelGroup.aspx?Type=AllInfo&Fid=%2c41%2c40%2c
            diag.maxbtn = false;
            diag.ShowModal();
        }
        function UserFunc(json, select) {
            if (json.length < 1) { return; }
            var uname = "";
            var uid = "";
            for (var i = 0; i < json.length; i++) {
                uname += json[i].UserName + ",";
                uid += json[i].UserID + ",";
            }
            if (uid) uid = uid.substring(0, uid.length - 1);
            $("#HiddenUser").val(uid);
            $("#Sure_Btn").trigger("click");
        }
    </script>
}
