@model ZoomLa.SQLDAL.SQL.PageSetting
@{

}
@section head{<title>@L.标签管理</title> }
@section content{
<div id="BreadDiv" class="container-fluid mysite">
<div class="row">
<ol id="BreadNav" class="breadcrumb fixed-top w-100">
    <li class="breadcrumb-item"><a href="@(CustomerPageAction.customPath2)I/Main">@L.工作台</a></li>
    <li class="breadcrumb-item"><a href="@(CustomerPageAction.customPath2)Config/SiteOption">@L.系统设置</a></li>
    <li class="breadcrumb-item"><a href="LabelManage">@L.标签管理</a></li>

    <div class="float-left dropdown ml-3">
        <a class="btn btn-outline-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="zi zi_pluscircle"></i> @L.添加标签</a>
        <ul class="dropdown-menu" role="menu">
            <li><a class="dropdown-item" href="LabelSql"><i class="zi zi_dotcircle"></i> @L.动态标签</a></li>
            <li><a class="dropdown-item" href="LabelHtml"><i class="zi zi_code"></i> @L.静态标签</a></li>
            <li><a class="dropdown-item" href="LabelPage"><i class="zi zi_fileExcel"></i> @L.分页标签</a></li>
        </ul>
        <a class="btn btn-outline-info btn-sm" href="LabelUpdate"><i class="zi zi_circleUpBold"></i> @L.旧版升级</a>
    </div>
    <div id="help" class="float-right text-center"><a href="javascript:;" id="sel_btn" class="help_btn mr-2"><i class="zi zi_search"></i></a><a onclick="help_show('21')" title="帮助" class="help_btn"><span class="zi zi_question"></span></a></div>
</ol>
</div>
</div>
<div id="navtabs_div" class="sysUsertabs list_choice sys_LabelManage box"></div>
@Html.Partial("LabelManage_List",Model)
<div style="margin-top:5px;">
  <button type="button" class="btn btn-info" onclick="batDel();">@L.批量删除</button>
</div>
@*<div class="sysBtline sysBtline">
<asp:Button ID="Button1" runat="server" Text="批量导出" class="btn btn-outline-info"
    OnClick="btnExport_Click" OnClientClick="return confirm('你确定要导出选中标签吗？')" Visible="false" />
<asp:Button ID="Button3" runat="server" Text="批量导入" Visible="false" OnClientClick="location.href='LabelImport';return false;" class="btn btn-outline-info"
    UseSubmitBehavior="true" />
<asp:Button ID="Button2" runat="server" Text="批量删除" OnClick="btnDeleteAll_Click" OnClientClick="return confirm('你确定要将所有选择标签删除吗？')" class="btn btn-outline-danger" UseSubmitBehavior="true" />

</div>*@
 }
@section script{
<script src="/js/SelectCheckBox.js"></script>
<link type="text/css" rel="stylesheet" href="~/Plugins/TabSlider/tabSlider.css" />
<script type="text/javascript" src="/Plugins/TabSlider/tabSlider.js?v=2"></script>
<script type="text/javascript">
    $(function () {
        var tabs = @Html.Raw(ViewBag.CateTable);
        tabs = tabs.reverse();
        $('#navtabs_div').slider({ cardw: 130, cardh: 40, cardn: 7, margin: 0, JSON: tabs, "cb": function(){
            $(".slide-wrap .nav-item").click(function () {
                location = "LabelManage?cate=" + $(this).data("title");
            });
            var cate = "@Html.Raw(Context.Request.GetParam("cate"))";
            $(".slide-wrap .nav-item").each(function () {
                if (cate == $(this).data("title")) { $(this).addClass("active"); }
            });
        }});
    });
</script>
<script type="text/javascript">
$(function () {
    $("#chkAll").click(function () {
        selectAllByName(this, "idchk");
    });
})
function ckl(LabelName) {
    window.location.href = "LabelHtml?LabelName=" + LabelName;
}
function batDel() {
    mvcpage.bat({ url: 'Label_API?action=batdel', confirm: "@Html.Raw(L.确定要删除选定标签吗)" });
}
$("#sel_btn").click(function (e) {
    if ($("#sel_box").css("display") == "none") {
        $(this).addClass("active");
        $("#sel_box").slideDown(300);
    }
    else {
        $(this).removeClass("active");
        $("#sel_box").slideUp(200);
    }
});
</script>

 }