@model ZoomLa.Model.M_UserInfo
@{
    bool isok = ViewBag.isok;
    Layout = "~/Areas/User/Views/Index/_RegisterLayout.cshtml";
}
@section head{<title>注册完成</title>}
@section content{
<div class="container">
<div class="row">
<div class="col-lg-6 offset-lg-3 u_login">
<div id="reg_main">
<div class="reg">
<h1><i class="fa fa-user"></i> 会员帐号信息</h1>
<ul id="userinfo" class="u_regOK">
<li>@MvcHtmlString.Create(ViewBag.RegMessage)</li>
<li>您的会员名：<span>@Model.UserName</span></li>
<li>您的密码是：<span>@ViewBag.pwd</span></li>
<li>注册邮箱是：<span>@Model.Email</span></li>
<li>请您妥善保存您的信息，如忘记密码在<a href="/User/Change/GetPassword" target="_blank">密码找回页</a>凭邮箱找回。</li>
<li><a href="@ViewBag.RegRUrl" class="btn btn-info btn-block">进入用户中心</a></li>
</ul>
</div>   
</div>
</div>
</div>
</div>

<div class="u_login_bg">
<div class="u_login_bg_area u_login_l"></div>
<div class="u_login_bg_area u_login_r"></div>
</div>
    }
@section script{
<script>
$(function () {
    if ("True" == "@isok") { window.setTimeout(function () { location = "@ViewBag.RegRUrl"; }, 5000); }
})
</script>
}