@using ZoomLa.BLL.Helper
@using ZoomLaCMS.Resources;
@{ 
    int step = DataConverter.CLng(ViewBag.step);
    IPCity cityMod = IPScaner.FindCity(IPScaner.GetUserIP(Context));
}
@section head{
<title>@L.填取表单获得后台访问权限！</title>
 <style type="text/css">
.userform { position: absolute; top: 50%; left: 0; margin-top: -23rem; height: 51rem; background: rgba(255, 255, 255, 0.8); box-shadow: 0 0 5px 2px rgba(9, 9, 9, 0.5); }
.userform h1 { line-height: 5rem; font-size: 1.68rem; color: #333030; border-bottom: 1px solid #ccc; }
.userform .hascount { font-size: 1rem; color: #337ab7; }
.userform .panel-heading small { color: #999; margin-top: .8rem; font-size: 1rem; }
.userform .table td, .userform .table th { border: none; }
.userform #email_btns { background: white; }
.userform #email_btns > a:hover { background: #cccccc; }
.userform .panel-default .panel-heading { border: none; border-bottom: 1px solid #ddd; background: none; }
.userform .panel-heading { padding: 1.2rem 0.8rem; border-bottom: 1px solid transparent; border-top-left-radius: 3px; border-top-right-radius: 3px; font-size: 2em; }
 </style>   
    }

@section content{ 
<center style="background:url(//code.z01.com/user_login.jpg);background-position: center;left:0;top:0;right:0;bottom:0; position: absolute; background-repeat:no-repeat;background-size:cover;">
@if (step == 0)
{
<form method="post" action="AccountForm_Submit">
    <main class="container">
    <div class="row">
    <div id="Form_Div" class="col-lg-6 offset-lg-3 userform">
      <div class="panel-heading"><h1>@L.申请测试帐号</h1><small class="text-muted">@L.请填写下方申请表单以便官方为您提供周全服务！</small><span class="float-right"><a href="Login?hasAccount=1" class="hascount"><i class="zi zi_infocircle" zico="信息圆标"></i> 已有帐号</a></span><div class="clearfix"></div></div>
      <div class="">
	    <table class="table" id="userform_table">
		    <tr><td class="text-right"><span>@L.姓名</span></td>
			    <td class="text_td"><input type="text" ID="UserName_T" name="UserName_T" data-enter="0" class="form-control valid required string" placeholder="@L.用户姓名" MaxLength="20"/>
			    <small class="text-muted">*@L.申请成功后即为您登录后台的帐号</small></td>
            </tr>
		    <tr><td class="text-right"><span>@L.手机</span></td>
                <td class="text_td"><input type="text" ID="UserPhone_T" name="UserPhone_T" data-enter="1" class="form-control int valid required mobile" placeholder="@L.手机号码" MaxLength="11"/></td>
                <td><span class="text-danger"></span></td>
            </tr>
		    <tr><td class="text-right"><span>@L.邮箱</span></td>
			    <td class="text_td"><input type="text" ID="UserEmail_T" name="UserEmail_T" data-enter="2" class="form-control valid required email" placeholder="@L.邮箱地址" MaxLength="30"/>
                <small  class="text-muted">*@L.申请成功后,@L.管理员密码将发往该邮箱</small></td>
            </tr>
		    <tr id="email_tr"><td></td><td colspan="2">
		     <div class="btn-group" id="email_btns">
				    <a href="javascript:;" class="btn btn-outline-secondary"  data-val="@@qq.com">QQ</a>
				    <a href="javascript:;" class="btn btn-outline-secondary"  data-val="@@live.com">Live</a>
				    <a href="javascript:;" class="btn btn-outline-secondary"  data-val="@@hotmail.com">Hotmail</a>
				    <a href="javascript:;" class="btn btn-outline-secondary"  data-val="@@gmail.com">Gmail</a>
				    <a href="javascript:;" class="btn btn-outline-secondary"  data-val="@@126.com">126</a>
				    <a href="javascript:;" class="btn btn-outline-secondary"  data-val="@@163.com">163</a>
				    <a href="javascript:;" class="btn btn-outline-secondary"  data-val="@@sina.com">Sina</a>
				    <a href="javascript:;" class="btn btn-outline-secondary"  data-val="@@outlook.com">OutLook</a>
			    </div>
		    </td></tr>
		    <tr><td class="text-right"><span>@L.公司</span></td>
                <td class="text_td"><input type="text" ID="Compay_T" name="Compay_T" data-enter="3" class="form-control" placeholder="@L.如个人请保留为空" MaxLength="50"/></td>
                <td></td>
            </tr>
            <tr><td class="text-right"><span>@L.QQ号</span></td><td class="text_td"><input type="text" ID="QQ_T" name="QQ_T" data-enter="4" class="form-control int" placeholder="@L.选填,@L.至少5位数的QQ号码" MaxLength="20"/></td></tr>
            <tr><td class="text-right"><span>@L.微信</span></td><td class="text_td"><input type="text" ID="Wechat_T" name="Wechat_T" data-enter="4" class="form-control" placeholder="@L.选填,@L.微信联系方式" MaxLength="20"/></td></tr>
		    <tr><td class="text-right"><span>@L.所在地</span></td>
                <td class="text_td"><select id="tbProvince" name="tbProvince" class="btn btn-light"></select><select id="tbCity" name="tbCity" class="btn btn-light"></select> <select id="tbCounty" name="tbCounty" class="btn btn-light"></select></td>
            </tr>
		    <tr><td colspan="3" class="text-center">
			    <input type="submit" id="Submit_B" class="btn btn-info" value="@L.提交申请"  data-enter="5" disabled="disabled"/> 
			    <input type="reset" class="btn btn-info" value="@L.重置表单" /></td></tr>
	    </table>
      </div>
    </div>
    </div>
    </main>
</form>
<script src="/JS/ICMS/area.js"></script>
<script src="/JS/Controls/ZL_PCC.js"></script>
    @if (cityMod.IsValid)
    {
        <script> var pcc = new ZL_PCC("tbProvince", "tbCity", "tbCounty");pcc.SetDef('@Html.Raw(cityMod.Province)','@Html.Raw(cityMod.City)','@Html.Raw(cityMod.County)');  pcc.ProvinceInit();</script>
    }
    else
    {
        <script> var pcc = new ZL_PCC("tbProvince", "tbCity", "tbCounty");  pcc.ProvinceInit();</script>
    }
}

@if (step == 2) { 
    <main class="container">
    <div class="row">
    <div id="Tip_Div" class="col-lg-6 offset-lg-3 userform" visible="false">
    <div class="panel panel-default">
    <h1><i class="zi zi_checkcircle" zico="圆打勾"></i> @L.成功</h1>
    <div class="p-5">@L.已经成功提交申请,@L.系统审核后会以电子邮件通知您！</div>
    <div><a href="Login?hasAccount=1" class="btn btn-primary" style="color:#fff;"><i class="zi zi_backward" zico="快退"></i> @L.返回登录</a>
      <a href="/" class="btn btn-info" style="color:#fff;"><i class="zi zi_home" zico="家"></i> @L.回到首页</a>
    </div>
    </div>
    </div>
    </div>
    </main>
}

</center>

}
@section script{ 
<style type="text/css">
.zi_times{color:red;}
.zi_check{color:green;}
</style>
<script src="/JS/Controls/Control.js"></script>
<script>
if (window.top != window.self) { parent.window.location = window.location; }
$(function () {
//	如有父页面则重定向父页面
//	$("body").addClass("cms2login");
	Control.EnableEnter();
	ZL_Regex.B_Num(".int");
	$("#email_btns a").click(function () {
		var text = $("#UserEmail_T").val().split('@@')[0] + $(this).data("val");
        $("#UserEmail_T").val(text);
	});
	//----------------
	var isAllok = function () {
		var flag = true;
		$(".required").each(function () {
			if (ZL_Regex.isEmpty($(this).val())) { flag = false; }
		})
		if (flag && $("#userform_table .check_err").length < 1) { document.getElementById("Submit_B").disabled = false; }
	}
	var showResult = function ($input, css, msg) {
		var okTlp = '<i class="zi zi_check"></i>';
		var errTlp = '<i class="zi zi_times"></i>';
		var sub = document.getElementById("Submit_B");
		var $tr = $input.closest("tr");
		$tr.find(".zi_check,.zi_times").remove();
		$tr.removeClass("check_err").removeClass("check_ok");
		$tr.addClass(css);
		$tr.find(".result_sp").text(msg);
		if (css == "check_ok") {
			$tr.find(".text_td").append(okTlp);
			isAllok();
		}
		else { sub.disabled = true; $tr.find(".text_td").append(errTlp); }
	}
	$(".valid").blur(function () {
		var $input = $(this);
		if ($input.hasClass("required") && ZL_Regex.isEmpty($input.val())) { showResult($input, "check_err","@Html.Raw(L.不能为空)"); }
		else if ($input.hasClass("string") && !ZL_Regex.isCharorNum($input.val())) { showResult($input, "check_err","@Html.Raw(L.不能包含特殊符号)"); }
		else if ($input.hasClass("mobile") && !ZL_Regex.isMobilePhone($input.val())) { showResult($input, "check_err","@Html.Raw(L.手机号格式错误)"); }
		else if ($input.hasClass("email") && !ZL_Regex.isEmail($input.val())) { showResult($input, "check_err","@Html.Raw(L.邮箱格式错误)"); }
		else if ($input.hasClass("qq") && !ZL_Regex.isEmpty($input.val()) && $input.val().length <= 5) { showResult($input, "check_err", "QQ@(Html.Raw(L.格式错误)),@Html.Raw(L.最少5位数字)"); }
		else //特殊规则检测
		{
			if ($input.attr("id") == "UserName_T") {
				$.post("AccountForm_API?action=name", { name: $input.val() }, function (data) {
					var model = APIResult.getModel(data);
					if (APIResult.isok(model)) { showResult($input, "check_ok", ""); }
					else {
						showResult($input, "check_err", model.retmsg);
					}
				})
			}
			else if ($input.attr("id") == "UserEmail_T")
			{
				$.post("AccountForm_API?action=email", { email: $input.val() }, function (data) {
					var model = APIResult.getModel(data);
					if (APIResult.isok(model)) { showResult($input, "check_ok", ""); }
					else {
						showResult($input, "check_err", model.retmsg);
					}
				})
			}
			else { showResult($input, "check_ok", ""); }
		}
	});
});
</script>

}