@model ZoomLa.Model.Client.M_CRMS_Attr
@{ 
   

}
@section head{<title>类别管理</title>}
@section content{
<ol id="navWrap" class="breadcrumb navbar-fixed-top">
    <li><a href="@(CustomerPageAction.customPath2)I/Main.aspx">工作台</a></li>
    <li><a href="CType">客户类别</a></li>
    <li><a href="@MvcHtmlString.Create(Request.RawUrl)">类别管理</a></li>
</ol>
<form method="post" action="@MVCHelper.GetAction("CType_Add",Request)">
    <table class="table table-bordered table-striped">
        <tr><td>名称</td><td>@Html.TextBoxFor(m=>m.Value,new { @class = "form-control text_300 required" })</td></tr>
        <tr><td>备注</td><td>@Html.TextAreaFor(m=>m.Remark,new { @class="form-control text_500",@rows="5"})</td></tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" class="btn btn-info" value="保存信息" />
            </td>
        </tr>
    </table>
</form>    
    }
@section script{
<script>
    $("form").validate({});
</script>  
    }

