@using System.Data
@using ZoomLa.Common
@using ZoomLa.Components
@using ZoomLa.Model
@using ZoomLa.BLL
@model ZoomLa.Model.M_Payment
@functions{
    public string GetPlatImg(DataRow dr)
    {
        string image = "";
        switch (DataConverter.CLng(dr["PayClass"]))
        {
            case (int)M_PayPlat.Plat.Alipay_Instant:
            case (int)M_PayPlat.Plat.Alipay_H5:
                image = "alipay.jpg";
                break;
            case (int)M_PayPlat.Plat.Bill:
                image = "99bill.jpg";
                break;
            case (int)M_PayPlat.Plat.UnionPay:
                image = "chinabank.jpg";
                break;
            case (int)M_PayPlat.Plat.ChinaUnionPay:
                image = "chinaunion.jpg";
                break;
            case 15://支付宝单网银
                    //M_PayPlat info = new M_PayPlat();
                    //info = platBll.SelModelByClass(M_PayPlat.Plat.Alipay_Bank);
                    //string[] bankArr = info.PayPlatinfo.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                    //for (int i = 0; i < bankArr.Length; i++)
                    //{
                    //    image = bankArr[i] + ".jpg";
                    //    ListItem newItem = new ListItem("", bankArr[i]);
                    //    newItem.Attributes.Add("id", "td_" + bankArr[i] + "_" + item.Value);
                    //    if (i > 0)
                    //        ids = item.Value + "" + ids;
                    //    DDLPayPlat.Items.Add(newItem);
                    //}
                    //item.Value = "";
                break;
            case (int)M_PayPlat.Plat.PayPal:
                image = "paypal.jpg";
                break;
            case (int)M_PayPlat.Plat.WXPay://微信支付
                image = "wxpay.jpg";
                break;
            case (int)M_PayPlat.Plat.ICBC_NC://南昌工行
                image = "ncicbc.jpg";
                break;
            case (int)M_PayPlat.Plat.Ebatong:
                image = "ebatong.jpg";
                break;
            case (int)M_PayPlat.Plat.CCB:
                image = "CCB.jpg";
                break;
            case (int)M_PayPlat.Plat.ECPSS://汇潮
                image = "ecpss.jpg";
                break;
            case (int)M_PayPlat.Plat.Offline://线下支付(转账,汇款)
                image = "offline.jpg";
                break;
            case (int)M_PayPlat.Plat.CashOnDelivery://货到付款
                image = "100.jpg";
                break;
            default:
                break;
        }
        return "/images/User/bankimg/" + image;
    }
}
@{
     Layout = "/Views/Cart/_layout.cshtml";
    B_PayPlat platBll = new B_PayPlat();
    //后期改为Repeater输出
    DataTable platDT = platBll.GetPayPlatListAll(0);
    string vmoney = DataConverter.CStr(SiteConfig.SiteOption.SiteID);
    DataTable orderDT = ViewBag.orderDT;
    bool ShowVMoney = ViewBag.ShowVMoney;
    string moneyTip = ViewBag.price + " + " + ViewBag.fare + " - " + ViewBag.arrive + "-" + ViewBag.point_arrive + "(" + ViewBag.point + ")" + " = " + ViewBag.allamount;
    moneyTip += "　(商品总价+运费-优惠券-积分兑换=总额)";
 }
@section head{<title>选择支付平台_@Call.SiteName</title>}
@section content{
<div class="progress carpro">
<div class="progress-bar w-75" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><h1>选择支付平台</h1></div>
</div>
<form method="post" action="@MVCHelper.GetAction("OrderPay_Submit",Context.Request)">
<div class="container cartbody">
<div class="pay_select card">
	<div class="pay_head card-header">
        <div>
            <span class="list_sp">订单号:</span>
            <span style="color:green;">@ViewBag.orderNo</span>
        </div>
		<div>
			<span class="list_sp">应付金额：</span>
			<span class="totalmoney"><i class="zi zi_yensign"></i>@ViewBag.allmount</span>
			<span class="totinfo" title="点击查看详情"> <i class="zi zi_caretsquaredown"></i></span>
		</div>
		<div class="totinfo_div">
			<span class="list_sp">金额详情：</span><span>@moneyTip</span>
		</div>
	</div>
	<div class="PayPlat_s card-body">
		<div class="divline paytitle">在线支付(请选择平台)：</div>
		<ul class="list-unstyled">
		@foreach (DataRow dr in platDT.Rows)
        {
            <li class="payplat_li plat_item col-lg-3 col-md-4 col-sm-6 col-xs-12 text-left" title="@dr["PayPlatName"]">
                <input type="radio" class="payplat_rad" name="payplat_rad" value="@dr["PayPlatID"]" />
                <img src="@(GetPlatImg(dr))" class="plat_item_img" />
            </li>
        }
			<li class="clearfix"></li>
		</ul>
		<div>
			<div class="divline paytitle">虚拟钱包：</div>
			<ul class="dashpay_ul margin_t5">
                @if (vmoney.Contains("purse"))
                {
                    <li id="purseli" title="用户余额支付">
                        <input type="radio" name="payplat_rad" value="Purse" />
                        <div class='pay_btn'><i class="zi zi_creditCard">余额支付</i></div>
                    </li>
                }
                @if (vmoney.Contains("sicon"))
                {
                    <li id="siconli" title="用户银币支付">
                        <input type="radio" name="payplat_rad" value="SilverCoin" />
                        <div class='pay_btn'><i class="zi zi_wallet">银币支付</i></div>
                    </li>
                }
                @if (vmoney.Contains("point"))
                {
                    <li id="pointli" title="用户积分支付">
                        <input type="radio" name="payplat_rad" value="Score" />
                        <div class='pay_btn'><i class="zi zi_clipboardcheck">积分支付</i></div>
                    </li>
                }
				
			</ul>
		</div>
		<input type="submit" class="btn btn-info btn-lg ml-2 NextStep_btn" id="cartpay_btn" value="确定支付方式" />
		<div class="clear"></div>
	</div>
</div>
</div>

<section class="fixed-bottom fixed_Set">
<input type="button" id="pubspay" onClick="$('#cartpay_btn').click();" value="确定支付" class="Settlement_btn">
</section>
</form>
}
@section script{
<script>
$(function () {
	$(".plat_item_img").click(function () { $(this).siblings(":radio")[0].checked = true; });
	$(".dashpay_ul li").click(function () {
		$(".dashpay_ul .active").removeClass('active');
		$(this).find('input')[0].checked = true;
		$(this).addClass('active');
	});
	if ($(".payplat_rad").length > 0) { $(".payplat_rad:first")[0].checked = true; }
	$(".totinfo").click(function () {
	    var $info = $(".totinfo_div");
	    if ($info.css("display") == "none") {
	        $info.slideDown(200);
	    } else {
	        $info.slideUp(100);
	    }
	});
})
</script>    
}