@model ZoomLa.SQLDAL.SQL.PageSetting
@{ 
      

}
@section head{<title>推广列表</title> }
@section content{
    @Call.SetBread(new Bread[] {
new Bread("{admin}"),
new Bread(Context.Request.RawUrl(),@L.推广信息)
})
    <div class="input-group list_choice">
        <input type="text" id="uids" class="form-control" placeholder="@L.用户ID,@L.示例:1,2,3"/>
        <input type="text" ID="skey" class="form-control" placeholder="@L.用户名" />
        <span class="input-group-append">
            <button type="button" ID="Search_Btn" class="btn btn-outline-secondary" onclick="mvcpage.load();"><i class="zi zi_search"></i></button>
        </span>
    </div>
    <div style="margin-top:5px;">
      @Html.Partial(MVCHelper.ViewDir_Admin + "User/Promo/PromoList_List.cshtml")
                <div class="alert alert-info" role="alert"><i class="zi zi_lightbulb" zico="灯泡黑"></i>@L.推广代码格式：/User/Register?ParentUserID=@L.用户ID</div>
    </div>
}
@section script{
    <script src="/JS/SelectCheckBox.js"></script>
    <script>
        $(function () {
            $("#sel_btn").click(function (e) {
                if ($("#sel_box").css("display") == "none") {
                    $(this).addClass("active");
                    $("#sel_box").slideDown(300);
                    $("#template").css("margin-top", "44px");
                }
                else {
                    $(this).removeClass("active");
                    $("#sel_box").slideUp(200);
                    $("#template").css("margin-top", "0px");
                }
            });
        });
    </script>
}