@model ZoomLa.SQLDAL.SQL.PageSetting
@using ZoomLa.BLL.Helper
@using ZoomLa.BLL.Content.H5
<div id="EGV">
 <ul class="vbook_ul">
     <li onclick="showAdd();" style="cursor:pointer;" title="点击创建">
         <div style="padding-top:120px;"><i class="zi zi_plus zi_3x"></i></div>
         <div class="info"></div>
     </li>
     @foreach (DataRow dr in Model.dt.Rows)
    {
 <li>
     <div class="img" title="编辑" onclick="toEdit(@dr["ID"]);">
         <div class="bk" style="background-image:url('@dr["coverImage"]');"></div>
         <img src="@dr["coverImage"]" onerror="shownopic(this);" alt="@dr["title"]" data-toggle='tooltip' data-bs-placement='right' title="@dr["title"]"/>
     </div>
 <div class="info">
     <div>序号：@dr["ID"]</div>
     <div style="height:1.3rem;overflow:hidden;">标题：@dr["title"]</div>
     <div>时间：@DateHelper.ToDate(dr["CDate"])</div>
     <div onclick="best(@dr["ID"],@dr["isbest"])" style="cursor:pointer">设为推荐：
         @if (dr["isbest"].ToString()=="1")
         {
             <i class="zi zi_star"></i>
         }
         else
         {
            <i class="zi zi_starLine" zico="五角星细线"></i>
         }
         
     </div>
 </div>
     <div class="footer">
         <a title="修改标题" href="javascript:;" onclick="showAdd(@dr["ID"])"><i class="zi zi_pencilalt"></i></a>
         <a title="浏览" href="/VBook/PreViewByMG?ID=@dr["ID"]" target="_blank"><i class="zi zi_eye"></i></a>
         <a title="删除" href="javascript:;" onclick="mvcpage.post({ url: 'API?action=del', data: {ids:'@dr["ID"]'},callback:'reload',confirm:'确定要删除吗'});"><i class="zi zi_trash"></i></a>
     </div>
     <div class="footer">
         <a href="@(B_H5_Item.vue+"editor?id="+dr["ID"])" target="_blank"><i class="zi zi_laptop"></i> 设计页面</a>
         <a href="javascript:;" onclick="mvcpage.post2('API?action=tlp_set','@dr["ID"]',{callback:'reload',confirm:'将复制该画册,并设为模板'});"><i class="zi zi_palette"></i>设为模板</a>
     </div>
 </li>
    }
</ul>
<div class="text-center">@Html.Partial("_page2")</div>
</div>

