@{


}
@section head{ <title>@L.修改密码</title>}
@section content{
@Call.SetBread(new Bread[] {
        new Bread("{admin}"),
        new Bread() {url=Context.Request.RawUrl(), text=@L.修改密码,addon="" }}
        )
  <div class="container-fluid pr-0">
  <div class="row sysRow list_choice">
    <form method="post" action="ModifyPassword_Submit">
    <table class="table table-bordered sys_table">
      <tr>
        <th>@L.输入旧密码</th>
        <td><input type="password" ID="oldPwd" name="oldPwd" class="form-control max20rem required"  autofocus="autofocus"/></td>
      </tr>
      <tr>
        <th>@L.输入新密码</th>
        <td><input type="password" ID="newPwd" name="newPwd" class="form-control max20rem required"/></td>
      </tr>
      <tr>
        <th>@L.重复新密码</th>
        <td><input type="password" ID="newPwd2" name="newPwd2" class="form-control max20rem required" /></td>
      </tr>
      <tr>
        <td></td><td><input type="submit" ID="BtnSubmit" class="btn btn-info" value="@L.确定修改" />
            <input type="reset" value="@L.清空重填" class="btn btn-outline-info" />
          </td>
      </tr>
    </table>
      <div class="alert alert-info" style="display:block;width:100%;"><i class="zi zi_laba"></i> @L.密码修改成功后</div>
    </form>
  </div>
  </div>

 }
@section script{
    <script>$("form").validate({});</script>

 }