@model ZoomLa.SQLDAL.SQL.PageSetting
@section head {<title>选取厂商</title>}
@section content {
    @Call.SetBread(new Bread[] {
        new Bread("{admin}"),
        new Bread(Call.PathAdmin("Shop/exp/Trademark"),@L.品牌管理),
        new Bread(){url=Context.Request.RawUrl(), text=L.品牌 + L.列表 ,addon="[选择品牌]"}
        })
    <style>
        .allchk_l
        {
            display: none;
        }
    </style>
    <div class="input-group">
        <input name="ctl00$Content$Skey_T" type="text" id="Skey_T" class="form-control" placeholder="请输入品牌名称" value="@ViewContext.HttpContext.Request.Query["skey"]">
        <input type="submit" name="ctl00$Content$Skey_Btn" value="搜索" id="Skey_Btn" onclick="skey()" class="input-group-text">
        <input type="button" class="input-group-text" value="确定" onclick="selback();">
    </div>

    <div class="table-responsive table_box">
        <table class="table table-bordered table-striped table-hover" id="EGV">
            <thead>
                <tr>
                    <th scope="col" class="w1rem"></th>
                    <th scope="col" class="td_xs">ID</th>
                    <th scope="col">@L.品牌名称</th>
                    <th scope="col">商标类别 </th>
                    <th scope="col">@L.更新时间</th>
                </tr>
            </thead>
            @foreach (DataRow dr in Model.dt.Rows)
            {
                <tr>
                    <td scope="row" data-bs-toggle="tooltip" title="" data-original-title="单击点选"><input type="radio" name="idchk" class="form-check-input" id="@dr["ID"]" value="@dr["Trname"]" /></td>
                    <td>@dr["ID"]</td>
                    <td>@dr["Trname"]</td>
                    <td>@dr["TrClass"]</td>
                    <td>@dr["Addtime"]</td>

                </tr>
            }
            @Html.Partial("_page")
        </table>
    </div>
}
@section script{
    <script src="/JS/SelectCheckBox.js"></script>
    <script>
        $().ready(function () {
            var type = decodeURI(getParam("type"));
            if (!type) { $(".nav.nav-tabs li").eq("0").find("a").addClass("active"); }
            else {
                $(".nav-item").each(function () {
                    console.log($(this).data("type"));
                    if ($(this).data("type") == type) { $(this).find("a").addClass("active"); }
                })
            }
        })
        function ShowTab(n) {
            if (n == "")
                location.href = "Trademark";
            else
                location.href = "Trademark?type=" + encodeURI(n);
        }

        function selback() {
            if (!parent || !parent.brand.selback) {alert("未找到可回调方法"); return false; }
            var $rad = $("input[name='idchk']:checked");
            if ($rad.length < 1) { alert("尚未选择品牌"); return false; }
            //alert($rad[0].id)
            parent.brand.selback({ id: $rad[0].id, name: $rad[0].value });
        }
        function skey() {
            var skey = $("#Skey_T").val();
            if (skey=="") {
                location.href = "Trademark_Select";
            }
            else {
                location.href = "Trademark_Select?skey=" + skey;
            }

        }
    </script>
}