@functions{

    B_Mis_AppProg progBll = new B_Mis_AppProg();
    private int AppID { get { return DataConvert.CLng(Context.Request.GetParam("AppID")); } }
    public string GetHQInfo(int stepnum)
    {
        if (AppID < 1) { return ""; }
        return progBll.SelHQInfo(AppID, stepnum);
    }
    //public DataTable GetHQDT(int stepnum)
    //{

    //}
    public string GetResult(DataRow dr)
    {
        return new M_Mis_AppProg().GetResult(DataConvert.CLng(dr["Result"]));
    }
}
@{ 
    B_User buser = new B_User(Context);
    M_UserInfo mu = buser.GetLogin();
    //DataTable authdt = perBll.SelAuthByRoles(mu.UserRole);
    //可限定只展示某一步骤的批示人,或全部展示 , 1
    DataTable dt = progBll.SelHQDT(AppID, -100);
}
 @Html.Partial("/Areas/Office/Views/Comp/Tlp/assets.cshtml")
<table class="table table_red1 formtb">
    	<tr>
        	<th colspan="2" style="text-align:center;">
            	<h1>江西省金融办收文处理专用纸</h1>
        	</th>
        </tr>
        <tr>
        	<td>
            	<div class="media">
                    <div class="media-left"><span style="line-height:34px;">收文序列：</span></div>
                    <div class="media-body input-group">
                    	<select class="form-control max20rem">
                            <option value="鹰教信字">鹰教信字</option>
                        </select>
                        <input type="text" ID="No_T" class="form-control max20rem"  />
                    </div>
                </div>
            </td>
            <td>
            	<div class="media">
                    <div class="media-left"><span style="line-height:34px;">收文日期：</span></div>
                    <div class="media-body">
                        <input type="text" ID="SendDate_T" class="form-control text_md" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' });" />
                    </div>
                </div>
            </td>
        </tr>
        <tr>
        	<td>
            	<div class="media">
                    <div class="media-left"><span style="line-height:34px;">归档类目：</span></div>
                    <div class="media-body">
                    	<select class="form-control" style="width:150px;">
                            <option value="鹰教信字">鹰教信字</option>
                        </select>
                    </div>
                </div>
            </td>
            <td>
            	<div class="media">
                    <div class="media-left"><span style="line-height:34px;">保存期限：</span></div>
                    <div class="media-body">
                       <select class="form-control text_md" ID="bcqx">
                           <option value="保存一年">保存一年</option>
                           <option value="保存二年">保存二年</option>
                           <option value="保存五年">保存五年</option>
                           <option value="保存十年">保存十年</option>
                       </select>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
        	<td colspan="2">
            	<div class="media">
                    <div class="media-left"><span style="line-height:34px;">文件文号：</span></div>
                    <div class="media-body">
                        <input type="text" ID="wjwh" class="form-control text_300" />
                    </div>
                </div>
            </td>
        </tr>
        <tr>
        	<td colspan="2">
            	<div class="media">
                    <div class="media-left"><span>来文机关：</span></div>
                    <div class="media-body">
                        <textarea ID="lwjg" class="form-control" Rows="4"></textarea>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
        	<td colspan="2">
            	<div class="media">
                    <div class="media-left"><span>标题：</span></div>
                    <div class="media-body">
                        <textarea ID="Title_T" class="form-control" Rows="4"></textarea>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
        	<td colspan="2" >
                <span>拟办：</span>
                @GetHQInfo(1)
        	</td>
        </tr>
        <tr>
        	<td colspan="2" >
                <span>批阅与批发：</span>
                @GetHQInfo(2)
        	</td>
        </tr>
        <tr>
        	<td colspan="2">
            	<div class="media">
                    <div class="media-left" style="vertical-align:middle;"><span>阅文人：</span></div>
                    <div class="media-body">
                        <table class="table table-bordered table_red" style="margin-bottom:0;">
                        	<tr>
                            	<td class="text-center">姓名</td>
                            	<td class="text-center">批示日期</td>
                            	<td class="text-center">结果</td>
                                <td class="text-center">批示</td>
                            </tr>
                            @foreach (DataRow dr in dt.Rows)
                            {
                                <tr>
                                       <td class="text-center">@dr["UserName"]</td>
                                       <td class="text-center">@dr["CreateTime"]</td>
                                       <td class="text-center">@GetResult(dr)</td>
                                       <td class="text-center">@dr["Remind"]</td>
                                   </tr>
                            }
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>