@model ZoomLa.SQLDAL.SQL.PageSetting
<table class="table table-bordered table-striped table-hover" id="EGV">
    <thead>
        <tr>
            <th class="w1rem"></th>
            <th>@L.名称</th>
            <th>@L.日期</th>
            <th>@L.操作</th>
        </tr>
    </thead>
    @foreach (DataRow dr in Model.dt.Rows)
    {
        <tr ondblclick="location = 'CodeAdd?ID=@dr["ID"]';">
            <td class="node_select"><input type="checkbox" name="idchk" value="@dr["ID"]" /></td>
            <td>@dr["Str1"]</td>
            <td>@dr["CDate"]</td>
            <td>
                <a href="CodeAdd?ID=@dr["ID"]"><i class="zi zi_pencilalt"> 编辑</i></a>
                <a href="javascript:;" onclick="mvcpage.del({url:'Seat_API?action=code_del',ids:'@dr["ID"]'})"><i class="zi zi_trashalt"> 删除</i></a>
            </td>
        </tr>
    }
    @Html.Partial("_page")
</table>