@model ZoomLa.SQLDAL.SQL.PageSetting
@using ZoomLa.Common
@{
    int ModelID=DataConverter.CLng(Context.Request.GetParam("ModelID"));
    int Status=DataConverter.CLng(Context.Request.GetParam("Status"));
	
}
@section head{
<title>@L.黄页内容</title>
}
@section content{
<ol class="breadcrumb fixed-top w-100">
    	<li class="breadcrumb-item"><a href='@(CustomerPageAction.customPath2)I/main'>@L.工作台</a></li>
        <li class="breadcrumb-item"><a href='ApplyAudit'>@L.企业黄页</a></li>
        <li class="breadcrumb-item">
            @if (Status == -2)
            { <a href="@Context.Request.RawUrl()">@L.回收站</a> @(MvcHtmlString.Create("[<a href='PageContent'>"+@L.返回内容管理+"</a>]"))}
            else
            { <a href="@Context.Request.RawUrl()">@L.内容管理</a> @(MvcHtmlString.Create("[<a href='PageContent?status=-2'>"+@L.内容回收站+"</a>]"))}  

        </li>
        <div id="sel_box">
            <div class="input-group">
                
				<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">@L.排序</span>
			  </div>
                <select class="form-control text_md mvcparam" id="orderby_dp">
                    <option selected="selected" value="GeneralID">@L.内容ID</option>
                    <option value="CreateTime">@L.添加时间</option>
                    <option value="UpDateTime">@L.更新时间</option>
                    <option value="Hits">@L.点击数</option>
                    <option value="EliteLevel">@L.推荐级别</option>
                </select>
                <select class="form-control text_md mvcparam" id="order_dp">
                    <option value="desc">@L.降序</option>
                    <option value="asc">@L.升序</option>
                </select>
                <input type="text" id="title_t" class="form-control text_md mvcparam" placeholder="@L.标题" />
                <input type="text" id="inputer_t" class="form-control text_md mvcparam" placeholder="@L.录入者" />
				<div class="input-group-append">
                <input type="button" value="@L.搜索" class="btn btn-outline-secondary" onclick="mvcpage.load();" /></div>
            </div>
        </div>
        <div id="help" class="float-right text-center"><a href="javascript:;" class="help_btn active" onclick="selbox.toggle();"><i class="zi zi_search"></i></a></div>
    </ol>
	<div class="w-100 list_choice">
<ul class="nav nav-tabs " id="navul">
            <li class="nav-tiem"><a class="nav-link" charset="" href="PageContent?ModelID=@ModelID&li=0">@L.内容列表</a></li>
            <li class="nav-tiem"><a class="nav-link" href="PageContent?ModelID=@ModelID&status=99&li=1">@L.已审核内容</a></li>
            <li class="nav-tiem"><a class="nav-link" href="PageContent?ModelID=@ModelID&status=0&li=2">@L.未审核内容</a></li>
            @*<li class="nav-tiem"><a class="nav-link" href="PageContent?ModelID=@ModelID&flag=Elite&li=3">推荐内容</a></li>*@
    </ul>
@Html.Partial("PageContent_List")
@if (Status == -2)
{
    <div class="sysBtline">
        <input type="button" class="btn btn-outline-info" value="@L.恢复内容" onclick="mvcpage.bat({url: 'content_recovery',after:'reload' });" />
        <input type="button" class="btn btn-outline-danger" value="@L.彻底删除" onclick="mvcpage.bat({url: 'content_realdel',after:'reload' });" />
    </div>
}
else
{
    <div class="sysBtline">
        <input type="button" class="btn btn-outline-info" value="@L.审核通过" onclick="mvcpage.bat({url: 'content_audit',after:'reload' });" />
        <input type="button" class="btn btn-outline-info" value="@L.取消审核" onclick="mvcpage.bat({url: 'content_unaudit',after:'reload' });" />
        <input type="button" class="btn btn-outline-danger" value="@L.批量删除" onclick="mvcpage.bat({url: 'content_del', confirm: '@L.确定要批量移除吗',after:'reload' });" />
    </div>
}
</div>
}
@section script{
<script src="/JS/SelectCheckBox.js"></script>
<script src="/JS/Controls/ZL_Dialog.js"></script>
<script>
    function SetLI()
    {
        var id = '@Context.Request.GetParam("li")';
        if (id == "") { $("#navul li:first").find("a").addClass("active"); }
        else { $("#navul").children("li:eq(" + id + ")").find("a").addClass("active"); }
        console.log(id);
    }
    $().ready(function () {
        SetLI();
        $("#chkAll").click(function () {//EGV 全选
            selectAllByName(this, "chkSel");
        });
    })
    function IsSelectedId() {
        var checkArr = $("input[type=checkbox][name=chkSel]:checked");
        if (checkArr.length > 0)
            return true
        else
            return false;
    }
</script>
}