@using System.Data
@using ZoomLa.Common
@using ZoomLa.BLL
@using ZoomLa.SQLDAL
@{
    Layout = "~/Views/Shared/_ask.cshtml";
    DataTable typeDt = B_GradeOption.GetGradeList(2, 0);
    DataTable solveDt = (DataTable)ViewBag.solveDt;
    DataTable hotDt = (DataTable)ViewBag.hotDt;
    //最近的12条问题
    DataTable lastAskDT = askBll.SelPage(1, 12, new Com_Filter() { }).dt;
}
@functions{
    B_GuestAnswer ansBll = new B_GuestAnswer();
    B_Ask askBll = new B_Ask();
    public DataTable GetChildType(int gid)
    {
        return B_GradeOption.GetGradeList(2, gid);
    }
    // 获取回答数
    protected int getanswers(int qid)
    {
        return ansBll.GetAnserCountByQid(DataConverter.CLng(qid));
    }
    public string GetLeftString(string str, int length)
    {
        return str.Length > length ? str.Substring(0, length) + "..." : str;
    }
    protected string gettype(string id)
    {
        string result = "";
        if (DataConvert.CLng(id) > 0)
        {
            DataTable dt = Sql.Sel("zl_grade", " GradeID=" + Convert.ToInt32(id), "");
            if (dt.Rows.Count > 0)
            {
                result = (dt.Rows[0]["GradeName"]).ToString();
            }
        }
        return result;
    }
}
@section head{<title>问答中心首页</title>}
@section content{
<!-- questions and answers-->
<nav aria-label="breadcrumb" role="navigation"  class="container baike_miannav">
<ol class="breadcrumb">
<li class="breadcrumb-item">您的位置：<a href="/">网站首页</a></li>
<li class="breadcrumb-item active">问答中心</li>
</ol>
</nav>
<div class="container qaCenter_tow-nav">
    @Html.Partial("comp/TopLinkBtns")
</div>

<div class="container qaCenter_main">	
<div class="row">
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
	<table class="table table-bordered">

		<tbody class="qaCenter_table">
			<tr><td colspan="2" class="qaCenter_table-top"><a href="/Ask/Classification">更多<i class="zi zi_doubleRight" aria-hidden="true"></i></a>问题分类</td></tr>
			@foreach(DataRow dr in typeDt.Rows)
            {
                DataTable childDT = GetChildType(DataConvert.CLng(dr["GradeID"]));
				<tr>
					<td class="ask_class_tl qaCenter_table-w"><a href="/Ask/Classification?GradeID=@dr["GradeID"]" title="@dr["GradeName"]">@dr["GradeName"]</a></td>
					<td class="ask_class_tr">
                       
						@foreach (DataRow child in childDT.Rows)
						{
							<a href="/Ask/Classification?ParentID=@child["ParentID"]&GradeID=@child["GradeID"]">@child["GradeName"]</a>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>
<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">

  <div class="qaCenter_Resolved">
	   <div class="qaCenter_Resolved_t"><span><i class="zi zi_heart"></i> 我们向您承诺：10分钟内给您满意的答复</span>已解决问题</div>
		<div class="qaCenter_Resolved_c">
				<div class="qaCenter_Resolved_cr">
					<ul class="list-unstyled">
						@foreach (DataRow dr in solveDt.Rows)
						{
							<li>
								<strong>@getanswers(DataConverter.CLng(dr["ID"]))回答</strong>
								<a target="_self" href="/Ask/SearchDetails?ID=@dr["ID"]">@GetLeftString(dr["QTitle"].ToString(),12)</a>
								<span>[<a target="_self" href="/Ask/List?QueType=@dr["QueType"]&strwhere=">@dr["QueType"]</a>]</span>
							</li>
						}
					</ul>
					<div class="clearfix"></div>
				</div>
		</div>
	</div>

	<div class="qaCenter_hotsearch">
		<div class="qaCenter_hotsearch_t">热门搜索</div>
		<div id="know" style="margin-top:5px;">
			@foreach (DataRow dr in hotDt.Rows)
            {
                if (string.IsNullOrEmpty(dr["QueType"] +"")) { continue; }
				<a class="btn btn-warning btn_hot" target="_self" href="/Ask/List?QueType=@dr["QueType"]&strwhere=">@gettype(dr["QueType"].ToString())<span></span></a>
			}
		</div>
	</div>

	<div class="qaCenter_Wait">
		<div class="qaCenter_Wait_t"><a href="/ask/MoreProblems?type=1" class="text-secondary">更多 <i class="zi zi_caretRight"></i></a>待解决问题</div>
        <div class="qaCenter_Wait_c ask-list">
                @foreach (DataRow dr in lastAskDT.Rows)
                {
                    <div class="qitem">
                        <a href="/Ask/List?QueType=@dr["QueType"]" title="查看分类问题" target="_blank" class="tag" style="min-width:95px;">@dr["GradeName"]</a>
                        <a href="/Ask/MyAnswer?ID=@dr["ID"]" target="_blank">
                            @(StringHelper.SubStr(dr["QTitle"].ToString(),45))
                        </a>
                        <span style="font-size:12px;float:right;color:#999;">
                            [<a href="javascript:;">
                                @if (dr["IsNi"].ToString().Equals("1"))
                                { <span>匿名</span> }
                                else
                                {@dr["UserName"] }
                            </a>]
                            <span style="width:110px;display:inline-block;">@dr["AddTime"]</span>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                }
 
        </div>
	</div>
</div>
</div>
</div>

<input type="hidden" id="hfid" />
}
@section script{
<script>
    $(function () {
        $("#top_nav_ul li[title='问答首页']").addClass("active");
    })
    function showtop(type) {
        if (type == 'week') {
            document.getElementById("weektab").className = "on";
            document.getElementById("alltab").className = "";
            document.getElementById("weektop").style.display = "";
            document.getElementById("alltop").style.display = "none";
        } else {
            document.getElementById("weektab").className = "";
            document.getElementById("alltab").className = "on";
            document.getElementById("weektop").style.display = "none";
            document.getElementById("alltop").style.display = "";
        }
    }
    function supplyment() {
        var div = document.getElementById("divSupplyment");
        if (div.style.display == "none") {
            div.style.display = "block";
        }
        else {
            div.style.display = "none";
        }
    }
    function CheckDirty() {
        var TxtTTitle = document.getElementById("TxtTTitle").value;
        var TxtValidateCode = document.getElementById("TxtValidateCode").value;

        if (value == "" || TxtTTitle == "" || TxtValidateCode == "") {
            if (value == "") {
                var obj = document.getElementById("RequiredFieldValidator1");
                obj.innerHTML = "<font color='red'>内容不能为空！</font>";
            }
            else {
                var obj = document.getElementById("RequiredFieldValidator1");
                obj.innerHTML = "";
            }
            if (TxtTTitle == "") {
                var obj2 = document.getElementById("RequiredFieldValidator2");
                obj2.innerHTML = "<font color='red'>留言标题不能为空！</font>";
            }
            else {
                var obj2 = document.getElementById("RequiredFieldValidator2");
                obj2.innerHTML = "";
            }
            if (TxtValidateCode == "") {
                var obj3 = document.getElementById("sp1");
                obj3.innerHTML = "<font color='red'>验证码不能为空！</font>";
            } else {
                var obj3 = document.getElementById("sp1");
                obj3.innerHTML = "";
            }
            return false;
        }
        else {
            var obj = document.getElementById("RequiredFieldValidator1");
            obj.innerHTML = "";
            var obj2 = document.getElementById("RequiredFieldValidator2");
            obj2.innerHTML = "";
            var obj3 = document.getElementById("sp1");
            obj3.innerHTML = "";
            document.getElementById("EBtnSubmit2").click();
        }
    }
</script>
}
