@using System.Data
@using ZoomLa.Common
@using ZoomLa.BLL
@model ZoomLa.SQLDAL.SQL.PageSetting
@{
    Model.url = "GuestShow_Data";
}
@functions{

}
    <div id="EGV">
        @if (Model.itemCount > 0)
        {
            <div class="media-list g_show_list">
                @foreach (DataRow dr in Model.dt.Rows)
                {
                    <div class="media">
                        <div class="media-left">
                            <div><img src="@dr["UserFace"]" alt="@dr["UserName"]" onerror="javascript:this.src='/Images/userface/noface.png';" /></div>
                            <div>@dr["UserName"]</div>
                            @if (DataConverter.CLng(dr["status"]) == 0) {<div style="color:gray;">[未审核]</div> }
                            
                        </div>
                        <div class="media-body">
                            <div style="min-height:6rem;padding-left:30px;">@MvcHtmlString.Create(dr["TContent"].ToString())</div>
                            <div class="r_gray text-right">
                                <i class="zi zi_clock"></i> @Convert.ToDateTime(dr["GDate"]).ToString("yyyy-MM-dd HH:mm")
                            </div>

                        </div>
                    </div>
                }
            </div>
            <div class="text-center" style="margin-top:5px;">
                @Html.Partial("_page2", Model)
            </div>
        }
    </div>