@{
    M_IServer server = new M_IServer();
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@section head{
    <title>添加问题</title>
    <script type="text/javascript" charset="utf-8" src="/Plugins/Ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Plugins/Ueditor/ueditor.all.min.js"></script>
}
@model ZoomLa.SQLDAL.SQL.PageSetting
@section content{
<div class="container-fluid pe-0">
<div class="row sysRow table-responsive">
<form method="post" action="AddServiceRecord_Submit">
    <table class="table table-sm table-striped table-bordered table-hover sys_table">
        <tr>
            <th>
                服务标题 <span class="text-danger">*</span>
            </th>
            <td>
                <input type="text" ID="txtTitle" name="txtTitle" Class="form-control max20rem" />
            </td>
        </tr>
        <tr hidden>
            <th scope="col" class="w12rem_lg"> CRM账号ID</th>
            <td scope="col">
                <input type="text" readonly="readonly" ID="crm_ID" name="crm_ID" Class="form-control max20rem" />
            </td>
        </tr>
        <tr hidden>
            <th scope="col" class="w12rem_lg">管理员账号ID</th>
            <td scope="col">
                <input type="text" readonly="readonly" ID="admin_ID" name="admin_ID" Class="form-control max20rem" value="@ViewBag.ID" />
            </td>
        </tr>
        <tr>
            <th scope="col" class="w12rem_lg">会员帐号<span class="text-danger">*</span></th>
            <td scope="col">
                <input type="text"readonly="readonly" ID="txtUserName" name="txtUserName" Class="form-control max20rem" />
            </td>
        </tr>
        <tr>
            <th>处理状态 <span class="text-danger">*</span>
            </th>
            <td>
                @MVCHelper.H_Radios("State", "未解决|处理中|已解决".Split('|'), "未解决,处理中,已解决".Split(','), server.State)
            </td>
        </tr>
        <tr>
            <th>优先等级 <span class="text-danger">*</span></th>
            <td>
                @MVCHelper.H_Radios("Priority", "低|中|高".Split('|'), "低,中,高".Split(','), server.Priority)
            </td>
        </tr>
        <tr>
            <th>提交来源 <span class="text-danger">*</span></th>
            <td class="d-flex flex-row">
                <select id="DropDownList3" name="DropDownList3" Class="form-control max20rem">
                    <option value="电话" Selected="Selected">电话</option>
                    <option value="E-mail">E-mail</option>
                    <option value="网页表单">网页表单</option>
                    <option value="直接面谈">直接面谈</option>
                    <option value="其它">其它</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>电话/E-mail</th>
            <td>
                <input type="text" ID="txtRootInfo" name="txtRootInfo" Class="form-control max20rem" />
            </td>
        </tr>
        <tr>
            <th>
                问题类别
            </th>
            <td>
                <select id="DropDownList4" name="DropDownList4" Class="form-control max20rem">
                    <option Selected="Selected" Value="咨询">咨询</option>
                    <option Value="投诉">投诉</option>
                    <option Value="建议">建议</option>
                    <option Value="要求">要求</option>
                    <option Value="界面使用">界面使用</option>
                    <option Value="bug报告">bug报告</option>
                    <option Value="订单">订单</option>
                    <option Value="财务">财务</option>
                    <option Value="域名">域名</option>
                    <option Value="主机">主机</option>
                    <option Value="邮局">邮局</option>
                    <option Value="DNS">DNS</option>
                    <option Value="MSSQL">MSSQL</option>
                    <option Value="MySQL">MySQL</option>
                    <option Value="IDC">IDC</option>
                    <option Value="网站推广">网站推广</option>
                    <option Value="网站制作">网站制作</option>
                    <option Value="其它">其它</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                问题内容 <span class="text-danger">*</span>
            </th>
            <td>
                <textarea id="Content_T" name="Content_T" class="m50rem_50" style=" height:400px">@Context.Request.GetParam("con")</textarea>
                @MvcHtmlString.Create(Call.GetUEditor("Content_T", 4))
            </td>
        </tr>
        <tr>
            <th>附注（内部使用）</th>
            <td>
                <input type="text" ID="Remind_L" name="Remind_L" Class="form-control m50rem_50" Rows="6" />
            </td>
        </tr>
        <tr>
            <th>附属图片</th>
            <td>
                <input type="button" id="upfile_btn" class="btn btn-outline-info" value="上传图片" />
                <div class="mt-3" id="uploader" class="uploader"><ul class="filelist"></ul></div>
                <input type="hidden" ID="Attach_Hid" name="Attach_Hid" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type="submit" OnClick="sureSel()" Class="btn btn-info"value="保存记录" />
                <a href="BiServer" class="btn btn-outline-info">返回列表</a>
            </td>
        </tr>
    </table>
</form>
</div>
</div>
}
@section script{
<script type="text/javascript" src="/js/Common.js"></script>
<script type="text/javascript" src="/js/zh-CN/attachment.js"></script>
<script type="text/javascript" src="/JS/Controls/ZL_Dialog.js"></script>
<script src="/JS/Controls/ZL_Webup.js"></script>
<link href="/JS/Controls/ZL_Webup.css" rel="stylesheet" />
<script>
$(function () {
    if (this.location.search != "") {
        var url = this.location.search;
        var url2 = url.split('=');
        var url3 = url2[1].split('&');
        $('#crm_ID').val(url3[0]);
        if (url3[1] != "") {
            var jie = decodeURI(url3[1]);
            $('#txtUserName').val(jie);
        }
        else {
            $('#txtUserName').val("未关联会员");
        }
    }
    ZL_Webup.config.json.accept = 'img';
    $("#upfile_btn").click(ZL_Webup.ShowFileUP);
})
function AddAttach(file, ret, pval) { return ZL_Webup.AddAttach(file, ret, pval); }
function fn_CheckLoginSearch(theForm) {
    if (!fn_CheckRequired(theForm.login, "登录帐号"))
        return false;
    return true;
}
function fn_CheckSupportTicket(theForm) {
    if (theForm.source_type.options[theForm.source_type.selectedIndex].value == 'phone'
        || theForm.source_type.options[theForm.source_type.selectedIndex].value == 'email') {
        if (!fn_CheckRequired(theForm.source, "电话或者E-mail"))
            return false;
    }
    if (!fn_CheckRequired(theForm.title, "问题标题"))
        return false;
    if (!fn_CheckRequired(theForm.content, "问题内容"))
        return false;
    return true;
}
function setcontent() {
    $("#Content_T").val(UE.getEditor("Content_T").getContent());
    }
    function sureSel() {
        var list = [];
        if (parent && parent.linkApp) {
            parent.linkApp.cb(list);
        }
        return true;
    }
</script>
}
