@{ 

}
@section head{ <title>内容采集</title>}
@section content{ 
@Call.SetBread(new Bread[] {
new Bread("{admin}"),
new Bread(Call.PA("Content/ContentManage"),@L.内容管理),
new Bread(Context.Request.RawUrl(),@L.内容采集)
})
<div class="Creat_tips list_choice">
<div class="alert alert-info alert-dismissible fade show">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<h5>@L.提示：</h5>
		<strong>
			<i class='zi zi_exclamationTriangle text-danger'></i>尊重版权不作恶,勿贪安逸图现成-请遵守所在国家(或地区)法规采集信息。
		</strong>
	<p>
		采集系统是基于http协议，从第三方站点或超文本链接分析，采集入库，采集软件由(TM)火车头采集器提供，<a href="//www.z01.com/help/tech/3471.shtml" target="_blank">点此下载</a>。<br/>
		火车头采集软件提供了一系列的采集协议，我们同时集成了一些默认规则，可以点此下载：
		<div class="btn-group" role="group" aria-label="采集模型下载">
		  <a href="//www.z01.com/help/tech/3471.shtml" target="_blank" class="btn btn-info">@L.内容模型采集</a>
		  <a href="//www.z01.com/help/tech/3471.shtml" target="_blank" class="btn btn-secondary">@L.图库模型采集</a>
		  <a href="//www.z01.com/help/tech/3471.shtml" target="_blank" class="btn btn-danger">@L.下载模型采集</a>
		</div>	
	</p>
	<p><i class="zi zi_click"></i> <a href="//www.z01.com/help/tech/3471.shtml" target="_blank">点此浏览</a>内容采集帮助文档，扩展支持：<a href="//www.z01.com/help/tech/3474.shtml" target="_blank">ET采集器</a>。</p>
</div>
 
</div>

}
@section script{ 

}