@using ZoomLa.SQLDAL
@model ZoomLa.Model.Project.M_Project_board
@functions{
    public string getMemberIDS(string str)
    {
        string v = "";
        if (!string.IsNullOrEmpty(str))
        {
            string[] idArry = str.Trim().Split(",");
            for (int i = 0; i < idArry.Length; i++)
            {
                if (!string.IsNullOrEmpty(idArry[i]))
                {
                    foreach (DataRow dr in DBCenter.Sel("ZL_User", "UserID=" + idArry[i]).Rows)
                    {
                        v += dr["UserName"] + ",";
                    }
                }
            }
        }
        return v;
    }
    public string getStatus(int i)
    {
        string str = "";
        switch (i)
        {
            case 1:
                str = "待办的";
                break;
            case 2:
                str = "进行中";
                break;
            case 3:
                str = "已完成";
                break;
            case 4:
                str = "已拒绝";
                break;
            default:
                break;
        }
        return str;
    }
    public string GetClass(int i)
    {
        string str = "";
        switch (i)
        {
            case 0:
                str = "未指定";
                break;
            case 1:
                str = "紧急";
                break;
            case 2:
                str = "正常";
                break;
            case 3:
                str = "次要";
                break;
            case 4:
                str = "淘汰";
                break;
            default:
                break;
        }
        return str;
    }
    public string getboard(int id)
    {
        string str = "<ul>";
        foreach (DataRow dr in DBCenter.Sel("ZL_Project_board","ID="+id).Rows)
        {
            str += "<li>"+dr["Title"]+"</li>";
        }
        str += "</ul>";
        return str;
    }
}
@section head{
    <title>项目详情</title>
    <link href="/JS/Controls/ZL_Webup.css" rel="stylesheet" />
    <script src="/Plugins/Ueditor/ueditor.config.js" charset="utf-8"></script>
    <script src="/Plugins/Ueditor/ueditor.all.min.js" charset="utf-8"></script>
    <script src="/JS/Controls/ZL_Dialog.js"></script>
    <script src="/JS/Controls/ZL_Webup.js?v=1"></script>
}
@section content{
<div class=" w-75 m-auto">
    @Html.ActionLink("编辑", "Board_Add", new { id = ViewContext.HttpContext.Request.Query["id"] }, new { @class = "input-group-text float-end" })
    <div>@Model.Title</div>
    <div><span style="color:@Model.Color;">@Model.Color</span> @getStatus(Model.Status) @Model.UserName 创建于 @Model.CreaeTime</div>
    <hr />
</div>
<div class="row w-75 m-auto">
    <div class="col-8">
        <div>@MvcHtmlString.Create(Model.Content)</div>
        <hr />
        <div>
            @*<h6>评论</h6>
            <form action="Project_Commont?id=@ViewContext.HttpContext.Request.Query["id"]" method="post">
                <div>
                    <textarea id="Comment" name="Comment" style="width:835px; height:500px;"></textarea>
                </div>
                <input type="submit" class="input-group-text" value="评论" />
            </form>*@
        </div>
    </div>
    <div class="col-4">
        <form action="Project_Submit?id=@ViewContext.HttpContext.Request.Query["id"]" method="post">
            <div class="input-group mb-1">
                负责人 @Model.Principal
            </div>
            <div class="input-group mb-1">
                参与者 @Model.Participant
            </div>
            <div class="input-group mb-1">
                状态 @getStatus(Model.Status)
            </div>
            <div class="input-group mb-1">
                颜色 @Model.Color
            </div>
            <div class="input-group mb-1">
                项目简介 @Model.Synopsis
            </div>
            <div class="input-group mb-1">
                附属文件 @Model.Files
            </div>
            <div class="input-group mb-1">
                缩略图 @Model.Thumbnail
            </div>
            <div class="input-group mb-1">
                组图 @Model.Photos
            </div>
            <div class="input-group mb-1">
                级别 @GetClass(Model.Class)
            </div>
            <div class="input-group mb-1">
                推荐 @Model.Recommend
            </div>
            <div class="input-group mb-1">
                关联项目 @Model.Source
            </div>
            <div class="input-group mb-1">
                计划开始日期 @Model.StartDate
            </div>
            <div class="input-group mb-1">
                计划结束日期 @Model.EndDate
            </div>
        </form>
    </div>
</div>
}
@section script{
<script type="text/javascript" src="/JS/DatePicker/WdatePicker.js"></script>
<script src="/JS/Controls/ZL_Webup.js"></script>
<link href="/JS/Controls/ZL_Webup.css" />
@MvcHtmlString.Create(Call.GetUEditor("Comment", 2))
<script>
    var zlmsg = { diag: null };
    zlmsg.init = function () {
        user.hook[zlmsg.conast.CCUser] = function (list, select) {
            $("#Participant").val(user.getnames(list));
            $("#ccuser_hid").val(user.getids(list));
            zlmsg.diag.CloseModal();
        }
        user.hook[zlmsg.conast.Refer] = function (list, select) {
            $("#refer_t").val(user.getnames(list));
            $("#refer_hid").val(user.getids(list));
            zlmsg.diag.CloseModal();
        }
    }
    zlmsg.conast = { CCUser: "ccuser", Refer: "refer" };
    zlmsg.selUser = function (action) {
        if (!zlmsg.diag) {
            zlmsg.diag = new ZL_Dialog();
            zlmsg.diag.maxbtn = false;
        }
        switch (action) {
            case zlmsg.conast.CCUser:
                zlmsg.diag.title = "选择负责人";
                zlmsg.diag.url = "/Common/SelUser#" + zlmsg.conast.CCUser;
                break;
            case zlmsg.conast.Refer:
            default:
                zlmsg.diag.url = "/Common/SelUser#" + zlmsg.conast.Refer;
                zlmsg.diag.title = "选择参与者";
                break;
        }
        zlmsg.diag.ShowModal();
    }
    $(function () {
        zlmsg.init();
    })

    function cj() {
        $("#btn").val("1");
    }
    function jx() {
        $("#btn").val("2");
    }
    function getFile() {
        $("#file").click();
    }
    function clickF() {
        var filename = $("#file").val();
        var filenames = filename.split("\\");
        filename = filenames[filenames.length - 1];
        $("#Files").val(filename);
    }
    //多文件上传
    $(function () {
        ZL_Webup.config.json.ashx = "action=OAattach";
        $("#upfile_btn").click(ZL_Webup.ShowFileUP);
        if (!ZL_Regex.isEmpty($("#Attach_Hid").val())) {
            var files = $("#Attach_Hid").val().split('|');
            $("#Attach_Hid").val("");
            for (var i = 0; i < files.length; i++) {
                AddAttach(files[i], { _raw: files[i] }, {});
            }
        }
    })
    function AddAttach(file, ret, pval) { return ZL_Webup.AddAttach(file, ret, pval); }
    function WordBack(fname) { $("#PrivateAttach_Hid").val(fname); }
    $(function () {
        setactive("看板");
    })
    function something(type,value) {
        $.post("", {
            type: type,
            value: value
        })
    };
    //remove leftnav
    var child = document.getElementById("leftnav");
    child.parentNode.removeChild(child);
</script>
}