@model ZoomLa.Model.M_GuestBookCate
@{ 
    Layout = "_empty";

}
@section head{<title>分类管理</title>}
@section content{ 
<link type="text/css" href="/dist/css/bootstrap-switch.min.css" rel="stylesheet" />
<script src="/dist/js/bootstrap-switch.js"></script>

    <form method="post" action="@MVCHelper.GetAction("CateAdd_Submit",Context.Request)">
    <table class="table table-borderd table-striped">
        <tr><td class="td_m">名称</td><td>@Html.TextBoxFor(m=>m.CateName,new {@class="form-control max20rem" })</td></tr>
        <tr><td>审核模式</td><td>@MVCHelper.H_Check("Status",Model.Status==1,new {@class="switchChk" })</td></tr>
        <tr><td>显示模式</td><td>@MVCHelper.H_Check("IsShowUnaudit",Model.IsShowUnaudit==1,new {@class="switchChk" })</td></tr>
        <tr><td>简介</td><td>@Html.TextAreaFor(m=>m.Desc,new {@class="form-control" })</td></tr>
        <tr><td></td><td><input type="submit" class="btn btn-info" value="保存信息"/></td></tr>
    </table>
</form>
}
@section script{ 


}