@model ZoomLa.SQLDAL.SQL.PageSetting
@{

}
@section head{
    <title>教师管理</title>
}
@section content{
<div class="w-100">
<div id="BreadDiv" class="container-fluid mysite">
    <div class="row">
        <ol id="BreadNav" class="breadcrumb fixed-top w-100">
            <li class="breadcrumb-item"><a href='@(CustomerPageAction.customPath2)I/main'>@L.工作台</a></li>
            <li class="breadcrumb-item"><a href='Papers_System_Manage'>@L.教育模块</a></li>
            <li class="breadcrumb-item"><a href='ExTeacherManage'>@L.培训资源库</a></li>
            <li class="breadcrumb-item">@L.教师管理<a href='AddExTeacher'> [@L.添加教师]</a></li>
            @MvcHtmlString.Create(Call.GetHelp(83))
        </ol>
    </div>
</div>
</div>
<div class="list_choice">
    @Html.Partial("ExTeacherManage_List")
</div>
<div class="">
    <button type="button" class="btn btn-outline-danger" onclick='mvcpage.bat({ url: "Teacher_Del", confirm: "@L.不可恢复性删除数据,@L.你确定要删除选中吗？" });'>@L.批量删除</button>
</div>
}
@section script{
    
}