@using System.Data
@using ZoomLa.Common
@using System.IO
@using ZoomLa.BLL
@model ZoomLa.SQLDAL.SQL.PageSetting
@functions{ 
    //function 必须放在using下，这是一个示例，无应用场景。
    public string ddd()
    {

        //在应用所在目录下创建子目录
        Directory.CreateDirectory("test_dir");

        //在目录下创建一个新文件
        var 建文件 = System.IO.File.Create("test_dir/sample.data");

        //向新文件中写入5字节
        byte[] 写文件 = { 5, 7, 9, 11, 13 };

        建文件.Write(写文件, 0, 写文件.Length);
        建文件.Close();
        建文件.Dispose();
        return "";
    }
}
@{
    ViewData["Title"] = "MDindex";
    //Layout = "";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@section head{
    <title>MarkDown列表-@Call.SiteName</title>
    <link type="text/css" href="/theme/css/V4user.css" rel="stylesheet" />
}
@section content{
<h1>MarkDown列表</h1>
<div>
    @*
    下面是调用第7-22行的方法：
    @ddd().ToString()-->
            浏览器遍历 即可执行*@
</div>


<div class="table-responsive table_box" id="EGV">
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">文档名称</th>
            <th scope="col" class="m50rem_50">备注</th>
            <th scope="col">上传日期</th>
            <th scope="col">文档路径</th>
            <th scope="col">文件状态</th>
            <th scope="col">屏幕大小</th>
            <th scope="col">背景颜色</th>
            <th scope="col">目录位置</th>
            <th scope="col">浏览</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow item in Model.dt.Rows)
        {
            <tr ondblclick="location='MD?id=@item["ID"]'" title="双击预览">
                <td>@item["ID"] </td>
                <td data-bs-toggle="tooltip" title="" data-original-title="双击预览">@item["MDName"]</td>
                <td>@item["MDRemarks"]</td>
                <td>@item["MDUpload_date"]</td>
                <td>@item["MDPath"]</td>
                <td>@item["MDStatus"].ToString()</td>
                <td>@item["MDPosition"].ToString()</td>
                <td>@item["MDColor"].ToString()</td>
                <td>@item["MDlocation"].ToString()</td>
                <td><a href="MD?id=@item["ID"]">点击浏览</a></td>
            </tr>
        }
    </tbody>
</table>
</div>

}