@model ZoomLa.SQLDAL.SQL.PageSetting
@using ZoomLa.Common
@using ZoomLa.BLL
@using ZoomLa.Controls
@{
	Layout = "~/Areas/AdminMVC/Views/Shared/_layTop.cshtml";
    B_Node nodeBll = new B_Node();
    C_TreeView treeMod = new C_TreeView()
    {
        NodeID = "NodeID",
        NodeName = "NodeName",
        NodePid = "ParentID",
        DataSource = nodeBll.GetAllShopNode(),
        liAllTlp = "<a href='StockList'>全部商品</a>",
        LiContentTlp = "<a href='StockList?NodeID=@NodeID'>@NodeName</a>",
        SelectedNode = DataConverter.CLng(Request["NodeID"]).ToString()
    };
}
@section head{
  <title>库存管理</title>
}
@section content{
<div class="container-fluid">
<div class="row">
<div class="w-100">
<ol id="navWrap" class="breadcrumb fixed-top w-100">
    <li class="breadcrumb-item"><a href="@(CustomerPageAction.customPath2)Main.aspx">工作台</a></li>
    <li class="breadcrumb-item"><a href="@(CustomerPageAction.customPath2)Shop/ProductManage.aspx">商城管理</a></li>
    <li class="breadcrumb-item"><a href="StockList">库存管理</a></li>
</ol>
<div class="list_choice">
    <div class="mb-2">
        <div class="input-group">
            <select class="form-control mvcparam w12rem_lg" id="StockType">
                <option value="-100">全部</option>
                <option value="0">入库</option>
                <option value="1">出库</option>
            </select>
            <input type="text" class="form-control w12rem_lg mvcparam" id="proid" placeholder="商品ID"/>
            <input type="text" class="form-control w12rem_lg mvcparam" id="proname" placeholder="商品名"/>
            <input type="text" class="form-control w12rem_lg mvcparam" id="adduser" placeholder="录入者"/>
            <input type="text" class="form-control w12rem_lg mvcparam" id="sdate" placeholder="起始时间" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'edate\')}' });"/>
            <input type="text" class="form-control w12rem_lg mvcparam" id="edate" placeholder="结束时间" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'sdate\')}' });"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-outline-secondary" onclick="mvcpage.load();"><i class="zi zi_search"></i></button>
            </span>
        </div>
    </div>
	<div class="row">
    <div class="col-12 col-md-3 pl-0" >
        @Html.Partial("_treeview",treeMod)
    </div>
    <div class="col-12 col-md-9 pr-0">
        @Html.Partial("~/Areas/User/Views/UserShop/StockList_List.cshtml", Model)
    </div>
	</div>
</div>
</div>
</div>
</div>
}
@section script{
<script src="/JS/DatePicker/WdatePicker.js"></script>
}
