@using System.Data
@using ZoomLa.Common
@using ZoomLa.BLL
@model ZoomLa.SQLDAL.SQL.PageSetting
@{
    Model.url = "GuestShow_Data";
}
@functions{

}
<div id="EGV">
    @if (Model.itemCount > 0)
    {
        <div class="g_show_list">
            @foreach (DataRow dr in Model.dt.Rows)
            {
                <div class="media">
                    <div class="bg-light">
                        <img src="@dr["UserFace"]" alt="@dr["UserName"]" onerror="javascript:this.src='/Images/userface/noface.png';" />
                        @dr["UserName"]
                        @if (DataConverter.CLng(dr["status"]) == 0) {<div style="color:gray;">[未审核]</div> }
                    </div>
                    <div class="media-body">@MvcHtmlString.Create(dr["TContent"].ToString())</div>
                        <div class="r_gray text-end">
                            <i class="zi zi_clock"></i> @Convert.ToDateTime(dr["GDate"]).ToString("yyyy-MM-dd HH:mm")
                        </div>
                    </div>
            }
        </div>
        <div class="text-center mt-2">
            @Html.Partial("_page2", Model)
        </div>
    }
</div>