@using ZoomLa.BLL.Content
@model ZoomLa.SQLDAL.SQL.PageSetting
@{ 

    DataTable dt = new B_Node().GetAllShopNode();
    dt.Columns["NodeID"].ColumnName = "id";
    C_BootTreeView tv = new C_BootTreeView();
    tv.textTlp = "@NodeName";
}
@section head{ <title>商品管理</title>}
@section content{
    @ERPHelper.SetBread(new Bread[] {
     new Bread(Context.Request.RawUrl(),"商品管理")
    })
<div></div>
<div class="container-fluid">
    <input type="hidden" id="NodeID" class="mvcparam" value="0"/>
    @Html.Partial("_pageTop", new C_Model() { text = "添加商品", url = "ProductAdd" })
   <div class="row">
       <div class="col-3" style="padding-left:0px;">
           <div id="tree"></div>
           <input type="hidden" ID="data_hid" value="@tv.CreateTreeView(dt)" />
       </div>
       <div class="col-9" style="padding-right:0px;">@Html.Partial("Product_List")</div> 
    </div>
</div>

}
@section script{
<link href="/Plugins/Third/treeview/bootstrap-treeview.min.css" rel="stylesheet" />
<script src="/Plugins/Third/treeview/bootstrap-treeview.js"></script>
<script>
$(function () {
    var tree = JSON.parse($("#data_hid").val());
    tree = [{ text: "全部",icon:"fa fa-global", href: "0", nodes: tree }];
    $('#tree').treeview({
        data: tree,
        onNodeSelected: function (event, node) {
            $("#NodeID").val(node.href);
            mvcpage.load();
        },
        onNodeUnselected: function (event, node) {
        }
    });
})
   
</script>

}




