@using System.Data
@using ZoomLa.BLL.Helper
@model ZoomLa.SQLDAL.SQL.PageSetting
@{
    int gid = Convert.ToInt32(Request["GeneralID"]);
}
@section head{<title>@Resources.L.版本浏览</title>}
@section content{
   <table class="table table-bordered table-striped">
       <tr><td>@Resources.L.标题</td><td class="td_l">@Resources.L.版本号</td><td>@Resources.L.作者</td><td class="td_l">@Resources.L.创建时间</td><td class="td_l">@Resources.L.操作</td></tr>
       @foreach (DataRow dr in Model.dt.Rows)
       {
        <tr>
            <td>@dr["Title"]</td>
            <td>@dr["Flow"]</td>
            <td>@dr["Inputer"]</td>
            <td>@DateHelper.ToDate(dr["CDate"])</td>
            <td>
                <a class="option_style" onclick="recover('@dr["ID"]');"><i class="zi zi_recycle"></i>@Resources.L.恢复</a>
                <a class="option_style" onclick="mvcpage.post({ url: 'addon_verbak_del', data: {ids:'@dr["ID"]'},callback:'delback',confirm:'确定要删除吗'});"><i class="zi zi_trashalt"></i>@Resources.L.删除</a>
            </td>
        </tr>
       }
    </table>
    }
@section script{
<style type="text/css">
    #navHolder{display:none;}
</style>
<script>
    //  mvcpage.del({ ids: '', url: 'addon_verbak_del', confirm: '确定要删除吗',after:'delback' });
    function delback() { location = location; }
    function recover(id) {
        parent.location = "EditContent?GeneralID=@gid&ver="+id;
    }
</script>
}