@using System.Data
@using ZoomLa.Common
@model ZoomLa.SQLDAL.SQL.PageSetting
@{ 

    string apiUrl = "Pub_API?action=";
}
@section head{<title>@Resources.L.互动模块</title>}
@section content{
@MvcHtmlString.Create(Call.SetBread(new Bread[] {
        new Bread("/{manage}/Main",Resources.L.工作台),
        new Bread() {url=Request.RawUrl, text=Resources.L.互动模块 +" [<a class='text-danger' href='PubAdd'>"+ Resources.L.添加互动 +"</a>]",addon="" }},
        Call.GetHelp(96)))
 <div class="container-fluid p-0 pr-2 table-responsive">
     @Html.Partial("PubManage_List",Model)
     <div style="margin-top:5px;">
         <button type="button" class="btn btn-danger" onclick="mvcpage.bat({ url: '@(apiUrl+"del")', confirm: '<%=Resources.L.确定要批量移除吗 %>', after: 'reload' });">@Resources.L.批量删除</button>
     </div>
    </div>	   
    }
@section script{
    
    
    }
