@model ZoomLa.SQLDAL.SQL.PageSetting
@{

 }
<table class="table table-bordered table-striped" id="EGV">
    <thead>
        <tr>
            <td></td>
            <td>ID</td>
            <td>@L.店铺名</td>
            <td>@L.用户信息</td>
            <td>@L.申请时间</td>
            <td>@L.是否审核</td>
            <td>@L.操作</td>
        </tr>
    </thead>
    @foreach (DataRow dr in Model.dt.Rows)
    {
    <tr>
        <td><input type="checkbox" name="idchk" title="" value='@dr["GeneralID"]' /></td>
        <td>@dr["GeneralID"]</td>
        <td><a href="StoreUpdate?id=@dr["GeneralID"]">@dr["Title"]</a></td>
        <td><a href="javascript:void(0);" onclick="showuinfo('@dr["UserID"]');">@dr["UserName"]</a></td>
        <td>@dr["CreateTime"]</td>
        <td>@MvcHtmlString.Create(DataConverter.CLng(dr["Status"])==99?ComRE.Icon_OK:ComRE.Icon_Error)</td>
        <td>
            <a href="StoreUpdate?id=@dr["GeneralID"]" ><i class="zi zi_pencilalt" title="修改"></i>@L.修改</a>
            <a href="Product?StoreID=@dr["GeneralID"]" ><i class="zi zi_cubes"></i>@L.商品</a>
            <a target="_blank" href="/Store/StoreIndex?id=@dr["GeneralID"]"><i class='zi zi_globe' title="浏览"></i>@L.浏览</a>
        </td>
    </tr>
    }
    @Html.Partial("_page")
</table>