@using ZoomLa.BLL.Content
@using ZoomLa.Model
@using ZoomLa.BLL.Shop
@using ZoomLaCMS.Models.Field
@model ZoomLa.Model.Content.M_CommonData
@{

    B_Model modBll = new B_Model();
    B_ModelField mfBll = new B_ModelField();
    B_Content conBll = new B_Content();
    B_Store_Style styBll = new B_Store_Style();
    DataRow valueDR = null;
    if (Model.GeneralID > 0)
    {
        DataTable condt = conBll.GetContent(Model.GeneralID);
        if (condt.Rows.Count > 0)
        {
            valueDR = condt.Rows[0];
        }
        //UserName_T.Text = storeMod.Inputer;
        //UserName_H.Value = storeMod.SuccessfulUserID.ToString();
    }
    else
    {
        //DataTable dt = modBll.SelByType("6");
        //if (dt.Rows.Count < 1) { return Write("请先创建店铺申请模型"); }
    }
    DataTable styDT = styBll.SelForView();
 }
@section head{ 
<title>商家店铺修改</title>
<script charset="utf-8" src="/Plugins/Ueditor/ueditor.config.js"></script>
<script charset="utf-8" src="/Plugins/Ueditor/ueditor.all.js"></script>    
}
@section content{ 
@Call.SetBread( new Bread[] {
new Bread("{admin}"),
new Bread("StoreManage","店铺管理"),
new Bread(){url="", text="店铺信息"}
}) 
<form method="post" action="@MVCHelper.GetAction("StoreUpdate_Submit",Context.Request)">
<div class="container-fluid pr-0">
	<div class="row sysRow list_choice table-responsive">
        <table class="table table-bordered sys_table">
            <tr>
                <th class="text-right">店铺名称</th>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" id="UserShopName_T" name="UserShopName_T" class="form-control max20rem" value="@Model.Title"/>
                        @if (Model.GeneralID > 0)
                        {
                            <div class="input-group-append">
                                <a href="/Store/StoreIndex?id=@(Model.GeneralID)" class="btn btn-info" target="_blank"><i class="zi zi_eye"></i></a>
                            </div>
                        }
                    </div>
                </td>
            </tr>
            <tr><th class="text-right">所属用户</th><td>
				<div class="input-group mb-3">
				  <input type="text" id="UserName_T" name="UserName_T" class="form-control max20rem" value="@Model.Inputer"/>
				  <input type="hidden" id="UserName_H" name="UserName_H" value="@Model.SuccessfulUserID.ToString()"/>
				  <div class="input-group-append">
					<input type="button" class="btn btn-info" value="选择用户" onclick="SelUser();" />
				  </div>
				</div>
				
                <small class="text-muted">每个用户只允许拥有一个店铺</small>
			 </td></tr>
            <tr>
                <th class="text-right">店铺样式</th>
                <td>  
                    @Html.Partial("C_TemplateView", new C_TemplateView(styDT) {selid=Model.DefaultSkins.ToString() })
                </td>
            </tr>
            @Html.Partial("Fields/Index_Admin_AddContent", new VM_FieldModel(Model.ModelID, Model.NodeID, new ModelConfig() { Source = ModelConfig.SType.Admin },Model.GeneralID,valueDR))
        </table>
	</div>
    </div>
<div class="Conent_fix">
    <input type="submit" ID="Esubmit" class="btn btn-info" value="保存信息" />
    <a href="StoreManage" class="btn btn-outline-info">返回列表</a>
</div>
</form>
}

@section script{ 
<script>
    var zlconfig = {
        updir: "@(ZoomLa.Components.SiteConfig.SiteOption.UploadDir.ToLower())",
    duptitlenum: "@(ZoomLa.Components.SiteConfig.SiteOption.DupTitleNum)",
        modelid: "0"
};
</script>
<script src="/JS/DatePicker/WdatePicker.js"></script>
<script src="/JS/chinese.js"></script>
<script src="/JS/Common.js"></script>
<script src="/JS/Controls/ZL_Dialog.js"></script>
<script src="/JS/ICMS/tags.json"></script>
<script src="/JS/ZL_Content.js"></script>
<script>
function SelUser() {
    comdiag.maxbtn = false;
    comdiag.maxbtn = false;
    ShowComDiag("/Common/SelUser?selMode=single", "选择用户");
}
function UserFunc(list, select) {
    $("#UserName_T").val(list[0].UserName);
    $("#UserName_H").val(list[0].UserID);
    CloseComDiag();
}
</script>
}

