@using System.Data;
@using ZoomLa.BLL.Helper
@model ZoomLa.SQLDAL.SQL.PageSetting
@{
    Model.cols = 10;
    string dir = "/Plugins/Markdown/";
}
<div id="EGV">
<table class="table table-bordered table-striped">
<tr>
    <th class="w1rem"></th>
    <th>ID</th>
    <th>标题</th>
    <th>作者</th>
    <th>创建时间</th>
    <th>操作</th>
    </tr>
@foreach (DataRow dr in Model.dt.Rows)
{
    <tr>
	<td><input type="checkbox" name="idchk" value="@dr["ID"]" /></td>
	<td>@dr["ID"]</td>
	<td><a href="AddContent?ID=@dr["ID"]">@dr["Title"]</a></td>
	<td>@dr["UserName"]</td>
    <td>@DateHelper.ToDate(dr["CDate"])</td>
    <td>
	    <a target="_blank" href="@(dir+"Default.aspx?ID="+dr["ID"])" class="option_style" title="修改"><i class="zi zi_pencilalt"></i></a>
	    <a target="_blank" href="@(dir+"View.aspx?ID="+dr["ID"])" class="option_style" target="_blank"><i class="zi zi_globe"></i>预览</a>
	    <a href="javascript:;" class="option_style" onclick="mvcpage.del({ ids: '@dr["ID"]', url: 'markdown_del', confirm: '确定要删除吗' });" title="删除"><i class="zi zi_trash"></i></a>
	</td>
    </tr>
}
@Html.Partial("_page", Model)
</table>
</div>