@using System.Data
@using ZoomLa.Common
@model System.Data.DataTable
@functions{
    public string GetContent(DataRow dr)
    {
        string msg = StringHelper.StripHtml(DataConverter.CStr(dr["MsgContent"]));
        return StringHelper.SubStr(msg, 28);
    }
}
@{ 

}
@if (Model.Rows.Count > 0)
{
    <ul class="listul">
        @foreach (DataRow dr in Model.Rows)
        {
            <li data-id="@dr["ID"]" title="浏览详情" onclick="leftnav.showmsg('@dr["ID"]');">
                <div>@GetContent(dr)</div>
                <div class="r_gray margin_t5">[@dr["CUName"]] <i class="zi zi_calendar"></i> @dr["CDate"]</div>
            </li>
        }
    </ul>
    <div class="float-right" style="margin-right:10px;" title="@("@我的信息")"><a href="/Plat/Blog/Default?filter=atuser">查看更多 <i class="zi zi_doubleRight"></i></a></div>
}
else
{
    <div class="r_gray" id="empty_div">
        还没有人@AT你
    </div>
}


