@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/dist/css/bootstrap4.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="/dist/css/zico.min.css" />
<link href="/App_Themes/V4style.css?version=@(ZoomLa.BLL.BLLCommon.Version_JS)" rel="stylesheet"/>
<script src="/JS/jquery.min.js"></script>
<script src="/dist/js/popper.min.js"></script>
<script src="/dist/js/bootstrap4.min.js"></script>
<script src="/JS/ICMS/ZL_Common.js?v=@(ZoomLa.BLL.BLLCommon.Version_JS)"></script>
<script src="/JS/ICMS/alt.js?v=@(ZoomLa.BLL.BLLCommon.Version_JS)"></script>
<script src="/JS/jquery.validate.min.js"></script>
<script src="/JS/ZL_Regex.js?version=@(ZoomLa.BLL.BLLCommon.Version_JS)"></script>
<script src="/JS/mvcpage.js?v=@(ZoomLa.BLL.BLLCommon.Version_JS)"></script>
<script src="/JS/Plugs/transtool.js?version=@(ZoomLa.BLL.BLLCommon.Version_JS)"></script>
@RenderSection("head")
</head>
<body>
@*<div class="container-fluid mysite" runat="server" id="BreadDiv">
    <div class="row">
	<ol class="breadcrumb navbar-fixed-top" runat="server" id="BreadNav">
	    <asp:Literal runat="server" ID="navLabel"></asp:Literal></ol>
    </div>
</div>*@
<div class="container-fluid">
    <div class="row">
        @RenderSection("content")
    </div>
</div>
<script>
//$(function () {
//    var filter = "input[type=text][id]:visible:not(.nofocus):first";
//    if ($(filter).length > 0) {
//        $(filter).focus();
//    }
//})
var siteconf = {
    path: "@CustomerPageAction.customPath2",
    updir: "@ZoomLa.Components.SiteConfig.SiteOption.UploadDir.ToLower()"
};
</script>
@RenderSection("script")
</body>
</html>
