@using System.IO
@using ZoomLa.Model.Site
@model SiteDeployAddModel
@{     
    var gitTemps = (IEnumerable<string>)ViewData["GitTemplate"];
    var siteTemplatePath = (string)ViewData["SiteTemplatePath"];
    var siteBasePath = (string)ViewData["SiteBasePath"];
    var temps = (new DirectoryInfo(siteTemplatePath)).GetDirectories().Select(d => d.Name).ToArray();
    if(temps.Count() > 0)
        Model.TemplateName = temps[0];
    var sites = (new DirectoryInfo(siteBasePath)).GetDirectories().Select(d => d.Name).ToArray();
}
@section head{<title>站点详情</title>}
@section content{ 
@Call.SetBread(new Bread[] {
    new Bread("{admin}"),
    new Bread(Context.Request.Path.Value.Replace("Add", "List", StringComparison.OrdinalIgnoreCase), "站点列表")},"[<a href='SiteAdd'>"+"添加站点"+"</a>]")
<div class="">
<form method="post" action="SiteAdd">
    <table class="table table-bordered sys_table">
        <tr>
            <th class="w12rem_lg">项目名称</th>
            <td><input class="form-control" id="i_site_name" name="Name" asp-for="@Model.Name" required maxlength="50" /></td>
        </tr>
        <tr>
            <th>备注说明</th>
            <td><textarea class="form-control" name="Note" asp-for="@Model.Note" maxlength="200" rows="4"></textarea></td>
        </tr>
        <tr>
            <th>文件路径</th>
            <td>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">@ViewData["SiteFolderName"]</span></div>
                    <input class="form-control" oninput="validAndSetPath(this)" name="Path" asp-for="@Model.Path" maxlength="50" required />
                    <input type="hidden" id="i_allsites" value="@string.Join("|", sites)" />
                </div>
                <small class="text-muted">资源包存储路径，位于系统zoomlaCLI文件夹下，推荐英文目录。</small>
            </td>
        </tr>
        <tr>
            <th>发布目录</th>
            <td>
                <input class="form-control" id="i_publishpath" oninput="filterPublishPath()" name="RunPath" asp-for="@Model.RunPath" maxlength="50" />
                <span class="text-info small ps-2">空或 / 代表根目录</span>
            </td>
        </tr>
        <tr>
            <th>资源目录</th>
            <td>
                <input class="form-control" oninput="validAndSetPath(this)" name="AssetsPath" asp-for="@Model.AssetsPath" maxlength="50" />
            </td>
        </tr>
        <tr>
            <th>数据接口</th>
            <td class="input-group">
                <input class="form-control" id="i_siteinterface" name="Interface" asp-for="@Model.Interface" maxlength="200" />
                <div class="input-group-append"><button class="btn input-group-text" type="button" onclick="$('#i_siteinterface').val('@ViewData["SiteApi"]')">获取默认API</button></div>
            </td>
        </tr>
        <tr>
            <th>包安装源</th>
            <td class="input-group">
                <label class="mb-0 me-3">@Html.RadioButtonFor(s => s.PackageType, PackageType.Yarn) yarn</label>
                <label class="mb-0 me-3">@Html.RadioButtonFor(s => s.PackageType, PackageType.Npm) npm</label>
            </td>
        </tr>
        <tr>
            <th>项目模板</th>
            <td>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <label class="m-0 pe-2">@Html.RadioButtonFor(m => m.Type, 0, new { @onchange = "switchSelect(0)" }) 本地模板</label>
                            <label class="m-0">@Html.RadioButtonFor(m => m.Type, 1, new { @onchange = "switchSelect(1)" }) 云端模板</label>
                        </div>
                    </div>
                    <select class="custom-select" id="i_templatename" name="TemplateName" asp-for="@Model.TemplateName">
                        @foreach (var t in temps)
                        {<option value="@t">@t</option>}
                    </select>
                </div>                
            </td>
        </tr>
        <tr>
            <th>友情提示</th>
            <td>
                <span class="text-info small">选择云端模板时，提交可能需要一点时间，这取决于您的网络。</span>
                <span class="text-danger small">请勿重复点击提交站点。</span>
            </td>
        </tr>
    </table>
<div class="text-center">
    <button id="btn_submitsite" class="mx-2 btn btn-info" type="submit" title="提交站点信息" onclick="return validModel()">提交站点</button>
    <a class="mx-2 btn btn-outline-info" href="SiteList" title="返回站点列表">返回列表</a>
</div>
</form>
</div>
}
@section script{ 
<script>
function validAndSetPath(el) {
    var str = $(el).val();
    var reg = /\/|\\|\:|\*|\?|\"|\<|\>|\|/g
    str = str.replace(reg, "");
    $(el).val(str);
}
function filterPublishPath() {
    var str = $("#i_publishpath").val();
    var reg = /|\\|\:|\*|\?|\"|\<|\>|\|/g
    str = str.replace(reg, "");
    $("#i_publishpath").val(str);
}
function switchSelect(type) {
    var strs = [];
    if (type == 0) {
        strs = @Html.Raw(Json.Serialize(temps));     
    }
    else {
        var strs = @Html.Raw(Json.Serialize(gitTemps));
    }
    $("#i_templatename").empty()
    for (var i = 0; i < strs.length; i++) {
        var option = $('<option></option>').attr("value", strs[i]).text(strs[i]);
        $("#i_templatename").append(option);
    }
}
function validModel() {
    var path = $("#i_site_path").val().trim();
    var sites = @Html.Raw(Json.Serialize(sites));
    if (sites.indexOf(path) == -1) {
        return true;
    }
    else {
        alert("文件夹 " + path + " 已存在！请修改后提交~");
        return false;
    }
}
function disableSubmit() {        
    $("#btn_submitsite").attr('disabled', true);
}
</script>
}